.form-group {
  position: relative;
  margin-bottom: spacer(7);
}

.form-check-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
  .is-valid & {
    display: block;
  }
  .form-password & {
    right: 33px;
  }
}

.form-label {
  margin-bottom: rem(10px);
  font-size: 14px;
  color: $silver-chalice;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  & + .info-block {
    margin-left: rem(10px);
  }
  .form-stretch & {
    margin-right: auto;
  }
}

.form-control {
  padding: rem(5px) rem(15px);
  padding-left: 0;
  border-radius: 0;
  font-family: "Proxima Nova",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  height: rem(34px);
  font-size: rem(16px);
  border: none;
  color: $port-gore;
  border-bottom: 1px solid $alto;
  &::placeholder {
    color: $silver-chalice;
  }
  &:focus {
    color: darken($port-gore, 20%);
    background-color: #fff;
    border-color: darken($alto, 20%);
    box-shadow: none;
    &::placeholder {
      font-size: 0;
    }
  }
  &--lg {
    font-size: rem(20px);
    font-weight: 600;
  }
  &--rad {
    border-radius: 6px;
  }
  &:disabled, 
  &[readonly] {
    border: 0;
    color: #9F9F9F;
    background-color: rgba($seashell, .7);
    &:focus {
      background-color: rgba($seashell, .7);
      box-shadow: none;
    }
  }
  &--color-blue {
    color: $glacier;
    &:focus {
      color: darken($glacier, 20%);
    }
    &.form-control:disabled, 
    &.form-control[readonly] {
      color: $glacier;
    }
    &.form-control:disabled:focus, 
    &.form-control[readonly]:focus {
      color: $glacier
    }
  }
}

.form-number {
  margin: 0 -12px;
  display: flex;
  font-weight: wrap;
  align-content: stretch;
  
  &__code {
    padding: 0 12px;
    width: rem(110px);
  }
  &__body {
    padding: 0 12px;
  }
}

.form-check {
  position: relative;
  padding-left: rem(30px);
  font-size: 14px;
  display: block;
  & + .form-check {
    margin-top: 18px;
  }
  .form-check-icon {
    position: absolute;
    top: 6px;
    left: 5px;
    fill: $glacier;
    font-size: 5px;
    display: none;
  }
}

.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  &:checked ~ .form-check-icon {
    display: block;
  }
  &:disabled ~ .form-check-label {
    cursor: default;
    color: rgba($glacier, .7);
  }
}

.form-check-label {
  cursor: pointer;
  color: $glacier;
  user-select: none;
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: rem(17px);
    height: rem(17px);
    border-radius: 2px;
    border: 1px solid $glacier;
  }
  &__bold {
    font-weight: 600;
    color: currentColor;
    &:hover {
      color: currentColor;
      text-decoration: none;
    }
  }
}

.form-control-plaintext {
  padding: 0;
  color: $glacier;
  font-size: 17px;
}

.form-stretch {
  justify-content: stretch;
  flex-flow: nowrap;
  .form-group:not(:last-child) {
    padding-right: 23px;
  }
  .form-control {
    width: 100%;
  }
  .form-group {
    flex: initial;
  }
}

.form-password {
  position: relative;
  padding-right: spacer(7);
  &__show-pass {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    line-height: 1;
    font-size: 10px;
    cursor: pointer;
    background-color: transparent;
    &:before {
      position: absolute;
      content: "";
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
    }
    &:focus {
      outline: none;
    }
  }
}

textarea.form-control {
  padding: spacer(8) spacer(7);
  height: rem(173px);
  overflow: auto;
  resize: none;
  border: 1px solid #EBEEF5;
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: rem(7px);
  }
   
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none
  }
   
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #CDD5DF;
    outline: 1px solid #CDD5DF;
  }
}

