.select-btn {
	[class*="btn"] {
		background-color: transparent;
		border: none;
		outline: 0 !important;
		box-shadow: none !important;
		font-family: "Proxima Nova",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
		&:active,
		&:focus {
			outline: 0 !important;
			box-shadow: none !important;
		}
	}
	.dropdown-toggle {
		padding: 0 rem(22px) 0 0;
		width: auto;
		text-align: left;
		cursor: pointer;
		display: inline-block;
		font-family: "Proxima Nova",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
		&:after {
			display: none;
		}
		.icon {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -3px;
			font-size: 6px;
			color: #000;
		}
		.filter-option {
			position: relative;
			padding: rem(5px) rem(18px);
			border-radius: 7px;
			width: auto;
			text-transform: uppercase;
			text-transform: uppercase;
			color: rgba(#2A2550, .7);
			font-weight: 600;
			border: 1px solid #d5dde5;
			vertical-align: top;
			display: inline-block;
		}
		.filter-option-inner {
			padding: 0;
		}
	}
	.dropdown-menu {
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.23);
		border: 1px solid #d5dde5;
		font-size: 14px;
	}
	.dropdown-item {
		outline: 0 !important;
		box-shadow: none !important;
		transition: background-color .3s, color .3s;
		color: rgba(#2A2550, .7);
		&:active,
		&:focus {
			outline: 0 !important;
			box-shadow: none !important;
		}
		&.active {
			color: #FFF;
		}
	}
}
.btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, 
.show> .btn-light.dropdown-toggle {
	background-color: transparent;
}