.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}

@mixin get-em-width($width, $height) {
	width: ($width / $height)+em;
}

.icon--arrow {
	font-size: 6px;
	@include get-em-width(11, 6);
}

.icon--bell {
	font-size: 20px;
	@include get-em-width(18.03, 20);
}

.icon--blob {
	font-size: 17px;
	@include get-em-width(18, 17);
}

.icon--burger {
	font-size: 39.53px;
	@include get-em-width(50, 39.53);
}

.icon--calendar {
	font-size: 17px;
	@include get-em-width(12.97, 17);
}

.icon--check {
	font-size: 7px;
	@include get-em-width(9, 7);
}

.icon--check-input {
	font-size: 5px;
	@include get-em-width(7, 5);
}

.icon--check-valid {
	font-size: 9px;
	@include get-em-width(14, 9);
}

.icon--down {
	font-size: 6px;
	@include get-em-width(10, 6);
}

.icon--duble {
	font-size: 21px;
	@include get-em-width(16, 21);
}

.icon--eye {
	font-size: 10px;
	@include get-em-width(16, 10);
}

.icon--feed {
	font-size: 16px;
	@include get-em-width(15.97, 16);
}

.icon--filters {
	font-size: 50px;
	@include get-em-width(46, 50);
}

.icon--folder {
	font-size: 15px;
	@include get-em-width(17, 15);
}

.icon--fox-head {
	font-size: 45px;
	@include get-em-width(43, 45);
}

.icon--gear {
	font-size: 16px;
	@include get-em-width(15.97, 16);
}

.icon--pdf {
	font-size: 15px;
	@include get-em-width(15, 15);
}

.icon--photo {
	font-size: 13px;
	@include get-em-width(14, 13);
}

.icon--profile {
	font-size: 17px;
	@include get-em-width(15.94, 17);
}

.icon--search {
	font-size: 17px;
	@include get-em-width(17, 17);
}

.icon--sign-out {
	font-size: 65px;
	@include get-em-width(67, 65);
}

.icon--star {
	font-size: 45.09px;
	@include get-em-width(47.41, 45.09);
}

