.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}

@mixin get-em-width($width, $height) {
	width: ($width / $height)+em;
}

.icon--arrow {
	font-size: 6px;
	@include get-em-width(11, 6);
}

.icon--arrow-cycle {
	font-size: 11.3px;
	@include get-em-width(20, 11.3);
}

.icon--arrow-left {
	font-size: 12px;
	@include get-em-width(12, 12);
}

.icon--arrow-right {
	font-size: 12px;
	@include get-em-width(12, 12);
}

.icon--attach {
	font-size: 17px;
	@include get-em-width(16, 17);
}

.icon--bell {
	font-size: 20px;
	@include get-em-width(18.03, 20);
}

.icon--blob {
	font-size: 17px;
	@include get-em-width(18, 17);
}

.icon--burger {
	font-size: 39.53px;
	@include get-em-width(50, 39.53);
}

.icon--calendar {
	font-size: 17px;
	@include get-em-width(12.97, 17);
}

.icon--calendar-inline {
	font-size: 32px;
	@include get-em-width(32, 32);
}

.icon--check {
	font-size: 7px;
	@include get-em-width(9, 7);
}

.icon--check-input {
	font-size: 5px;
	@include get-em-width(7, 5);
}

.icon--check-valid {
	font-size: 9px;
	@include get-em-width(14, 9);
}

.icon--compare-left {
	font-size: 25px;
	@include get-em-width(25, 25);
}

.icon--compare-right {
	font-size: 25px;
	@include get-em-width(25, 25);
}

.icon--down {
	font-size: 6px;
	@include get-em-width(10, 6);
}

.icon--duble {
	font-size: 21px;
	@include get-em-width(16, 21);
}

.icon--edit {
	font-size: 401px;
	@include get-em-width(401.52, 401);
}

.icon--email {
	font-size: 13px;
	@include get-em-width(16, 13);
}

.icon--ethereum {
	font-size: 512px;
	@include get-em-width(512, 512);
}

.icon--eye {
	font-size: 10px;
	@include get-em-width(16, 10);
}

.icon--facebook {
	font-size: 25px;
	@include get-em-width(25, 25);
}

.icon--fb {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--feed {
	font-size: 16px;
	@include get-em-width(15.97, 16);
}

.icon--filters {
	font-size: 50px;
	@include get-em-width(46, 50);
}

.icon--folder {
	font-size: 15px;
	@include get-em-width(17, 15);
}

.icon--fox-head {
	font-size: 45px;
	@include get-em-width(43, 45);
}

.icon--gear {
	font-size: 16px;
	@include get-em-width(15.97, 16);
}

.icon--ggl {
	font-size: 50px;
	@include get-em-width(50, 50);
}

.icon--information {
	font-size: 437.6px;
	@include get-em-width(437.6, 437.6);
}

.icon--like {
	font-size: 456.81px;
	@include get-em-width(456.81, 456.81);
}

.icon--like-outline {
	font-size: 478.2px;
	@include get-em-width(478.2, 478.2);
}

.icon--link {
	font-size: 14px;
	@include get-em-width(14, 14);
}

.icon--linkedin {
	font-size: 20px;
	@include get-em-width(20, 20);
}

.icon--linkedin-md {
	font-size: 25px;
	@include get-em-width(25, 25);
}

.icon--lock {
	font-size: 12px;
	@include get-em-width(9, 12);
}

.icon--pdf {
	font-size: 15px;
	@include get-em-width(15, 15);
}

.icon--photo {
	font-size: 13px;
	@include get-em-width(14, 13);
}

.icon--profile {
	font-size: 17px;
	@include get-em-width(15.94, 17);
}

.icon--sale {
	font-size: 18px;
	@include get-em-width(15, 18);
}

.icon--search {
	font-size: 17px;
	@include get-em-width(17, 17);
}

.icon--sign-out {
	font-size: 21px;
	@include get-em-width(26.75, 21);
}

.icon--star {
	font-size: 45.09px;
	@include get-em-width(47.41, 45.09);
}

.icon--star-outline {
	font-size: 22px;
	@include get-em-width(22, 22);
}

.icon--twitter {
	font-size: 25px;
	@include get-em-width(25, 25);
}

