{% import "blocks/tag.njk" as tag %}

<div class="side-menu">
  <div class="side-menu__block side-menu__block--profile">
    {{ tag.make('side-menu__user tag--horizontal tag--sz--sm tag--horizontal') }}

    <a href="#" class="btn btn-outline-info side-menu__btn side-menu__btn--add">+ Add Contract</a>
  </div>

  <div class="side-menu__block side-menu__block--fluid side-menu__block--flexible side-menu__block--nav">
    
  </div>

  <div class="side-menu__block side-menu__block--logout">
    <a href="#" class="btn btn-outline-primary-100 side-menu__btn side-menu__btn--logout">Sign Out</a>
  </div>
</div>
