{% set meta = datasets.get('meta.json') %}
{% import "lib/icon.njk" as icon %}
{% import "lib/modal.njk" as modal %}
{% import "blocks/breadcrumbs.njx" as breadcrumbs %}
{% import "blocks/steps.njk" as steps %}

<!doctype html>
<html class="no-js" lang="{{ meta.lang }}">

<head>
  <meta charset="{{ meta.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ meta.title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% set modals = [] %}

  <div data-modal-state class="dashboard">
    <div class="dashboard__navbar">
      {% include "partials/navbar.njk" %}
    </div>

    <div class="dashboard__display">
      <div data-state="closed" class="dashboard__side-bar">
        {% include "partials/side-menu.njk" %}
      </div>
      <div class="dashboard__content{{ ' page-' + page.active if page.active }} js-dashboard-content">
        {% block content %} {% endblock %}
      </div>
    </div>

    <div class="lining" id="lining" data-state="closed"></div>
  </div>

  {% for m in modals %}
    {{ modal.make(m.id, m.content, m.animations or 'fade', m.dialog or 'modal-dialog-centered modal-lg', m.classes) }}
  {% endfor %}

  {# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> #}
  
  <script src="js/vendor.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
</body>

</html>
