.portfolio {
	padding: rem(90px) 0;
	&__container {
		max-width: rem(1490px);
	}
	&__body {
		padding-left: rem(60px);
		overflow: auto;
		@include bp-down(xxl) {
			padding-left: 0;
			margin-bottom: 0;
		}
	}
}