.portfolio {
	padding: rem(90px) 0;
	&__container {
		max-width: rem(1490px);
	}
	&__title {
		padding-right: 15px;
		color: #101541;
		font-size: rem(23px);
		font-weight: 700;
	}
	&__head,
	&__filter {
		display: flex;
		align-items: center;
	}
	&__head {
		margin-bottom: rem(50px);
		justify-content: space-between;
	}
	&__body {
		padding-left: rem(60px);
		overflow: auto;
		@include bp-down(xxl) {
			padding-left: 0;
			margin-bottom: 0;
		}
	}
}