.create {
	$cycle-p-x: 47px;
	$milestone-p-x: 32px;
	$milestone-w: 110px;
	$milestone-dot-w: 15px;

	padding: 30px 0 60px;

	&__cycles {
		display: flex;
		flex-flow: row nowrap;

		&-control {
			flex-basis: 105px;
			position: relative;

			svg {
				position: absolute;
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);

				font-size: 10px;

				fill: #2a2550;
			}
		}

		&-add {
			position: absolute;
			top: 50%;
			left: 50%;

			width: 24px;
			height: 24px;
			padding: 0;

			cursor: pointer;
			transform: translate(-50%, -50%);

			&:before {
				height: 10px;
			}

			&:after {
				width: 10px;
			}
		}

		&-list {
			position: relative;

			display: flex;
			overflow-x: auto;

			margin: 0;
			padding: 0;

			list-style: none;

			margin: 0;
		}
	}

	&__cycle {
		$w: 200px;

		display: flex;
		align-items: center;
		flex-direction: column;

		width: $w;
		min-width: $w;
		padding: 0 $cycle-p-x;

		box-sizing: content-box;

		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}

		&:first-child {
			padding-left: 0;
		}

		&:not(:first-child) {
			.chart {
				position: relative;

				width: 130px;

				&:before {
					position: absolute;
					top: 50%;
					right: 100%;

					width: $cycle-p-x * 2 + 64px;
					height: 0;

					content: '';

					border-top: 1px dashed #75a3bf;
				}
			}
		}

		&-label {
			width: 100%;

			border: 2px solid #b9cde5;
			border-radius: 7px;

			&--w {
				&--fixed {
					width: 300px;
				}
			}
		}

		&-datepicker {
			width: 100%;
			padding: 0;

			text-align: center;

			border: 0;
			border-radius: 7px;

			line-height: 36px;
		}
	}

	&__tab {
		& .nav-link {
			margin: 0 27px;
			padding-right: 0;
			padding-left: 0;

			opacity: 0.3;
			color: #2a2550;

			font-size: 18px;
		}

		&:first-child .nav-link {
			margin-left: 0;
		}

		&:last-child .nav-link {
			margin-right: 0;
		}

		& .active {
			margin-bottom: -1px;

			opacity: 1;
			border-bottom: 1px solid #2a2550;
		}
	}

	&__tabs {
		border-bottom: solid 1px #dadada;
	}

	&--cycles &__select {
		width: 300px;
	}

	&__block--vertical-divider {
		position: relative;

		&:after {
			position: absolute;
			top: 50%;
			right: 0;

			display: block;

			width: 1px;
			height: 100%;

			content: '';
			transform: translateY(-50%);

			background-color: #cdd5df;
		}
	}

	&__milestones {
		position: relative;
		overflow-x: auto;

		display: flex;
		flex-flow: row nowrap;

		padding-bottom: 50px;
		margin-bottom: 50px;

		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;

			display: block;

			width: calc(100% - #{$grid-gutter-width});
			height: 1px;

			content: '';
			transform: translateX(-50%);

			background-color: #dadada;
		}

		&-control {
			flex-basis: 105px;
			min-width: 105px;
			position: relative;

			svg {
				position: absolute;
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);

				font-size: 10px;

				fill: #2a2550;
			}

			&:before {
				position: absolute;
				top: 40%;
				right: 61%;

				width: 120px;
				height: 0;

				content: '';

				border-top: 1px dashed #75a3bf;
			}
		}

		&-add {
			position: absolute;
			top: 41%;
			left: 50%;

			width: 24px;
			height: 24px;
			padding: 0;

			cursor: pointer;
			transform: translate(-50%, -50%);

			&:before {
				height: 10px;
			}

			&:after {
				width: 10px;
			}
		}

		&-list {
			position: relative;

			display: flex;

			margin: 0;
			padding: 0;

			list-style: none;

			margin: 0;
		}
	}

	&__milestone {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		padding: 0 $milestone-p-x;
		width: $milestone-w + $milestone-p-x * 2;
		min-width: $milestone-w + $milestone-p-x * 2;

		&:hover &-number {
			color: #ff7864;
		}

		&-label {
			height: 30px;
		}

		&:hover &-label {
			border-color: #ff7864;
		}

		&-datepicker {
			height: 25px;
		}

		&-dot {
			width: $milestone-dot-w;
			height: 15px;
			margin-top: 12px;
			margin-bottom: 12px;

			border: 2px solid #75a3bf;
			border-radius: 100%;
			position: relative;

			&--checked {
				&:after {
					position: absolute;
					top: 50%;
					left: 50%;

					width: 5px;
					height: 5px;

					content: '';
					transform: translate(-50%, -50%);

					border-radius: 100%;
					background-color: #75a3bf;
				}
			}
		}

		&:hover &-dot {
			border-color: #ff7864;
		}

		&:hover &-dot:after {
			background-color: #ff7864;
		}

		&:not(:first-child) &-dot {
			position: relative;

			&:before {
				position: absolute;
				top: 50%;
				right: 115%;

				width: $milestone-w + $milestone-p-x * 2 - $milestone-dot-w;
				height: 0;

				content: '';

				border-top: 2px solid #75a3bf;
			}
		}
	}
}
