$side-menu-divider: 1px solid theme-primary('400');

%side-menu-fluid-block {
  margin-right: -$side-menu-p-x;
  margin-left: -$side-menu-p-x;
}

%side-menu-flexible-block {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.side-menu {
  $side-menu-p-x-closed: rem(12px);

  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  min-width: $side-bar-w;
  // height: 100%;
  // min-height: 100%;
  padding: rem(20px) rem($side-menu-p-x) rem(30px);

  color: $white;
  background-image: linear-gradient(to top, theme-primary(), theme-primary('600'));

  @include bp-up($navbar-collapse-bp) {
    &[data-desktop-state="closed"] {
      width: 100%;
      min-width: 0;

      padding-right: $side-menu-p-x-closed;
      padding-left: $side-menu-p-x-closed;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    padding: rem(20px) 0;

    height: auto;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &--profile {
      border-bottom: $side-menu-divider;
    }

    &--nav {
      padding: 0;
      align-items: stretch;

      @extend %side-menu-fluid-block;
      @extend %side-menu-flexible-block;
    }
  }

  @include bp-up($navbar-collapse-bp) {
    &[data-desktop-state="closed"] &__block--profile {
      .tag__info {
        display: none;
      }

      .tag__img {
        margin-right: 0;
      }
    }

    &[data-desktop-state="closed"] &__block--logout {
      margin: 0 -$side-menu-p-x-closed;
    }
  }

  @include bp-up($navbar-collapse-bp) {
    &[data-desktop-state="closed"] &__block--nav {
      margin-right: rem(-12px);
      margin-left: rem(-12px);
    }
  }

  &__nav {
    position: relative;
    bottom: -1px;

    margin-bottom: 1px;

    &:after {
      position: absolute;
      left: $side-menu-p-x;

      display: block;

      width: calc(100% - #{$side-menu-p-x * 2});
      height: 0;

      content: '';

      border-bottom: $side-menu-divider;
    }
  }

  &[data-desktop-state="closed"] &__nav {
    @include bp-up($navbar-collapse-bp) {
      &:after {
        left: $side-menu-p-x-closed;

        width: calc(100% - #{$side-menu-p-x-closed * 2});
      }

      .side-nav__text {
        display: none;
      }

      .side-nav__name {
        margin: 0;
      }

      .side-nav--sublist {
        display: none;
      }
    }
  }

  &__sub-nav {

  }

  &[data-desktop-state="closed"] &__sub-nav {
    @include bp-up($navbar-collapse-bp) {
      display: none;
    }
  }

  &__btn {
    width: calc(100% - 12px);

    &--add {
      margin: spacer(6) auto 0;
      font-weight: bold;

      color: $white;
    }

    &--logout {
      $color: map-get($theme-primary-shades, '100');

      @include button-outline-variant(rgba($color, .6));

      text-transform: uppercase;
      padding-top: 1rem;
      padding-bottom: .9375rem;

      border-radius: 3px;
    }

    &-icon {
      display: none;
    }
  }

  @include bp-up($navbar-collapse-bp) {
    &[data-desktop-state="closed"] &__btn--add {
      display: none;
    }

    &[data-desktop-state="closed"] &__btn--logout {
      width: 100%;
      padding-right: rem(2px);
      padding-left: rem(2px);

      border: 0;
      border-radius: 0;

      font-size: 0;
    }

    &[data-desktop-state="closed"] &__btn-icon {
      display: block;
    }
  }
}
