%box {
  background-color: #ffffff;
  box-shadow: 0px 0 16px 0 rgba(0, 0, 0, 0.1);
};

@mixin box {
  background-color: #ffffff;
  box-shadow: 0px 0 16px 0 rgba(0, 0, 0, 0.1);
}

@mixin drop-box {
  background-color: transparent;
  box-shadow: none;
}

$box-spacers: (
  "xs" : (spacer(1) spacer(2)),
  "sm" : (spacer(3) spacer(4)),
  "md" : (spacer(5) spacer(7)),
  "lg" : (spacer(7) spacer(9)),
  "xl" : (spacer(8) spacer(10)),
  "xxl" : (spacer(11) spacer(11))
);

.box {
  @mixin make-content-fluid($value) {
    max-width: calc(100% + #{$value * 2};
    margin-right: -#{$value};
    margin-left: -#{$value};
    padding-right: #{$value};
    padding-left: #{$value};
  };

  $padding-map: map-get($box-spacers, 'sm');
  $padding-y: nth($padding-map, 1);
  $padding-x: nth($padding-map, 2);

  border-radius: 3px;

  @extend %box;

  padding: $padding-y $padding-x;
  
  & + .box {
    margin-top: rem(50px);
  }

  &--fluid {
    height: 100%;
  }

  &--shading {
    &--none {
      box-shadow: none;
    }

    &--spread {
      box-shadow: 0px 18px 45px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &--bdrs {
    &--none {
      border-radius: none;
    }

    &--rounded {
      border-radius: 7px;
    }

    &--circled {
      border-radius: 10px;
    }
  }

  &--border {
    box-shadow: none;
    border: 1px solid #E3E3E3;
  }

  &--has--head {
    padding: 0  0 spacer(6);
  }

  &__head {
    padding: spacer(4) spacer(8);
    font-size: 18px;
    font-weight: 600;
    &--md {
      padding: spacer(7) spacer(8) spacer(6);
    }
  }

  &__head-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__head-left {
    flex: 0 0 20%;
    max-width: 20%;
  }
  &__head-center {
    flex: 0 0 60%;
    max-width: 60%;
  }
  &__head-right {
    flex: 0 0 20%;
    max-width: 20%;
  }

  &__wrap {
    border-top: 1px solid #E7E7E7;
    padding: spacer(8) spacer(11);
    &--md {
      padding: spacer(8) spacer(9) spacer(5);
    }
    &--2md {
      padding: spacer(8) spacer(8);
    }
    &--sm {
      padding: spacer(6) spacer(5) spacer(2);
    }
  }

  &__content {
    max-width: 100%;
    overflow-x: auto;

    &--fluid {
      @include make-content-fluid($padding-x);
    }
  }

  &__footer {
    font-size: 14px;
    color: #9F9F9F;
  }

  &__cols {
    margin-top: rem(16px);
    font-size: 14px;
    color: #6D8199;
  }
  
  &__row {
    margin: rem(-5px);
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    padding: 0 rem(5px);
    flex: 0 0 50%;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    hyphens: auto;
    &:last-child {
      text-align: right;
    };
  }

  @each $size, $length-map in $box-spacers {
    $p-x: nth($length-map, 2);
    $length: nth($length-map, 1) $p-x;

    &--p--#{$size} {
      padding: $length;
    }

    &--p--#{$size} &__content--fluid {
      @include make-content-fluid($p-x);
    }
  };
}

.box-form {
  &__wrap {
    padding-left: spacer(7);
  }
}