%box {
  background-color: #ffffff;
  box-shadow: 0px 0 16px 0 rgba(0, 0, 0, 0.1);
};

@mixin box {
  background-color: #ffffff;
  box-shadow: 0px 0 16px 0 rgba(0, 0, 0, 0.1);
}

@mixin drop-box {
  background-color: transparent;
  box-shadow: none;
}

$box-spacers: (
  "xs" : (spacer(1) spacer(2)),
  "sm" : (spacer(3) spacer(4)),
  "md" : (spacer(5) spacer(7)),
  "lg" : (spacer(7) spacer(9)),
  "xl" : (spacer(8) spacer(10)),
  "xxl" : (spacer(11) spacer(11))
);

.box {
  position: relative;
  @mixin make-content-fluid($value) {
    max-width: calc(100% + #{$value * 2};
    margin-right: -#{$value};
    margin-left: -#{$value};
    padding-right: #{$value};
    padding-left: #{$value};
  };

  $padding-map: map-get($box-spacers, 'sm');
  $padding-y: nth($padding-map, 1);
  $padding-x: nth($padding-map, 2);

  border-radius: 3px;

  @extend %box;

  padding: $padding-y $padding-x;
  
  & + .box {
    margin-top: rem(50px);
  }

  &--fluid {
    height: 100%;
  }

  &--shading {
    &--none {
      box-shadow: none;
    }

    &--spread {
      box-shadow: 0px 18px 45px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &--bdrs {
    &--none {
      border-radius: none;
    }

    &--rounded {
      border-radius: 7px;
    }

    &--circled {
      border-radius: 10px;
    }
  }

  &--border {
    box-shadow: none;
    border: 1px solid #E3E3E3;
  }

  &--has--head {
    padding: 0  0 spacer(6);
  }

  &--h100 {
    height: 100%;
  }

  &--chat {
    border-radius: 7px;
  }

  &.bg-warning {
    padding: $padding-y $padding-x * 2;
  }

  &__head {
    padding: spacer(4) spacer(8);
    font-size: 18px;
    font-weight: 600;
    &--md {
      padding: spacer(7) spacer(8) spacer(6);
    }
  }

  &__head-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__head-left {
    flex: 0 0 20%;
    max-width: 20%;
    @include bp-down(lg) {
      order: 2;
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include bp-down(sm) {
      padding-top: 15px;
    }
  }
  &__head-center {
    flex: 0 0 60%;
    max-width: 60%;
    @include bp-down(lg) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
    }
  }
  &__head-right {
    flex: 0 0 20%;
    max-width: 20%;
    @include bp-down(lg) {
      margin-top: 5px;
      order: 3;
      flex: 0 0 50%;
      max-width: 50%;
      text-align: right;
    }
  }
  &__head-left,
  &__head-center, 
  &__head-right {
    @include bp-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }

  &__wrap {
    border-top: 1px solid #E7E7E7;
    padding: spacer(8) spacer(11);
    &--md {
      padding: spacer(8) spacer(9) spacer(5);
    }
    &--2md {
      padding: spacer(8) spacer(8);
    }
    &--sm {
      padding: spacer(6) spacer(5) spacer(2);
    }
    &--h530 {
      overflow: auto;
      max-height: 530px;
      
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #85a4be;
      }
    }
  }


  &__project-inner {
    margin-top: -92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include bp-down(xl) {
      flex-direction: column;
    }
  }

  &__project-left {
    padding-left: 39px;
    max-width: 60%;
    flex: 0 0 60%;
    @include bp-down(xl) {
      padding-left: 0;
      max-width: 100%;
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
    }
  }
  &__project-right {
    padding-left: 15px;
    max-width: 40%;
    flex: 0 0 40%;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    @include bp-down(xl) {
      margin-top: 15px;
      padding-left: 0;
      max-width: 100%;
      flex: 0 0 100%;
      justify-content: center;
      flex-wrap: wrap;
      align-self: initial;
    }
  }

  &__content {
    max-width: 100%;
    overflow-x: auto;

    &--fluid {
      @include make-content-fluid($padding-x);
    }
  }

  &__footer {
    font-size: 14px;
    color: #9F9F9F;
  }

  &__cols {
    margin-top: rem(16px);
    font-size: 14px;
    color: #6D8199;
  }
  
  &__row {
    margin: rem(-5px);
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    padding: 0 rem(5px);
    flex: 0 0 50%;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    hyphens: auto;
    &:last-child {
      text-align: right;
    };
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0;
    line-height: 1;
    background-color: transparent;
    border: none;
    right: 10px;
    font-size: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    .icon {
      font-size: 12px;
    }
  }

  @each $size, $length-map in $box-spacers {
    $p-x: nth($length-map, 2);
    $length: nth($length-map, 1) $p-x;

    &--p--#{$size} {
      padding: $length;
    }

    &--p--#{$size} &__content--fluid {
      @include make-content-fluid($p-x);
    }
  };
}

.box-form {
  &__wrap {
    padding-left: spacer(7);
  }
}