.breadcrumbs {
	position: relative;
	padding: rem(28px) 0 rem(25px);
	margin: 0;
	font-weight: 600;
	font-size: rem(14px);
	&.breadcrumbs_white {
		a, span {
			color: #FFF;
		}
	}
	&__item {
		vertical-align: top;
		display: inline-block;
		&:not(:last-child) {
			position: relative;
			padding-right: 35px;
			&:before {
				position: absolute;
				content: ">";
				top: 3px;
				right: 15px;
				line-height: 1;
				color: #9B9B9B;
				.breadcrumbs_white & {
					color: #fff;
				}
			}
		}
	}
	a {
		color: #9B9B9B;
	}
	span {
		color: #75A3BF;
	}
}
