.card-dyed {
  $p-x: spacer(4);
  $bdrs-sm: 5px;
  $bdrs-md: 10px;

  $ziggurat: (
    "emphasis" : (
      background-color: rgba(52, 54, 77, .5)
    ),
    "flat" : (
      background-color: #839fa4,
      box-shadow: 0px 6px 13px 0px rgba(69, 193, 165, 0.29),
    ),
    "gradient" : (
      background-image: (linear-gradient(to top, rgba(#0a5462, .5), transparent 30%), linear-gradient(180deg, #70ada7 60%, #3d8084)),
      box-shadow: 0px 6px 13px 0px rgba(69, 193, 165, 0.29),
    ),
    "stage" : (
      color: lighten(rgb(184, 148, 202), 5%),
    )
  );

  $east-side: (
    "emphasis" : (
      background-color: rgba(52, 54, 77, .5)
    ),
    "flat" : (
      background-color: rgb(184, 148, 202),
      box-shadow: 0px 6px 13px 0px rgba(122, 69, 193, 0.29),
    ),
    "gradient" : (
      background-image: (linear-gradient(to top, rgba(#8c26cc, .5), transparent 30%), linear-gradient(135deg, #c28cda, #936dcc)),
      box-shadow: 0px 6px 13px 0px rgba(122, 69, 193, 0.29),
    ),
    "stage" : (
      color: #b3d7ff,
    )
  );

  $shakespeare: (
    "emphasis" : (
      background-color: rgba(52, 54, 77, .5)
    ),
    "flat" : (
      background-color: #6880af,
      box-shadow: 0px 6px 13px 0px rgba(69, 92, 193, 0.29),
    ),
    "gradient" : (
      background-image: (linear-gradient(to top, rgba(#2c54b4, .7), transparent 30%), linear-gradient(135deg, #6698c2, #5074ab)),
      box-shadow: 0px 6px 13px 0px rgba(69, 92, 193, 0.29),
    ),
    "stage" : (
      color: #aceabb,
    )
  );

  $tradewind: (
    "emphasis" : (
      background-color: rgba(52, 54, 77, .5)
    ),
    "flat" : (
      background-color: #6AB6B1,
      box-shadow: 0px 6px 13px 0px rgba(81, 202, 180, 0.29),
    ),
    "gradient" : (
      background-image: (linear-gradient(to top, rgba(#10255c, .5), transparent 30%), linear-gradient(180deg, #6AB6B1, #245a83)),
      box-shadow: 0px 6px 13px 0px rgba(81, 202, 180, 0.29),
    ),
    "stage" : (
      color: #bfeeff,
    )
  );

  $charm: (
    "emphasis" : (
      background-color: rgba(52, 54, 77, .5)
    ),
    "flat" : (
      background-color: #d66986,
      box-shadow: 0px 6px 13px 0px rgba(141, 95, 204, 0.29),
    ),
    "gradient" : (
      background-image: (linear-gradient(to top, rgba(#10255c, .5), transparent 30%), linear-gradient(180deg, #d66986, #5b287d)),
      box-shadow: 0px 6px 13px 0px rgba(141, 95, 204, 0.29),
    ),
    "stage" : (
      color: #e0a6c0,
    )
  );

  $purple: (
    "emphasis" : (
      background-color: rgba(52, 54, 77, .5)
    ),
    "flat" : (
      background-color: #9570e5,
      box-shadow: 0px 6px 13px 0px rgba(112, 94, 204, 0.29),
    ),
    "gradient" : (
      background-image: (linear-gradient(to top, rgba(#2d277e, .5), transparent 30%), linear-gradient(180deg, #9570e5, #232a8c)),
      box-shadow: 0px 6px 13px 0px rgba(112, 94, 204, 0.29),
    ),
    "stage" : (
      color: #e8c4ff,
    )
  );

  $danube: (
    "emphasis" : (
      background-color: rgba(52, 54, 77, .5)
    ),
    "flat" : (
      background-color: #6589ba,
      box-shadow: 0px 6px 13px 0px rgba(68, 56, 175, 0.29),
    ),
    "gradient" : (
      background-image: (linear-gradient(to top, rgba(#10255c, .5), transparent 30%), linear-gradient(180deg, #6589ba, #2f4073)),
      box-shadow: 0px 6px 13px 0px rgba(68, 56, 175, 0.29),
    ),
    "stage" : (
      color: #c0e0ff,
    )
  );

  $themes: (
    'ziggurat' : $ziggurat,
    'east-side' : $east-side,
    'tradewind' : $tradewind,
    'charm' : $charm,
    'purple' : $purple,
    'danube' : $danube,
    'default' : $ziggurat,
    'shakespeare' : $shakespeare
  );

  @function get-properties($theme-name: 'default', $value: 'flat') {
    @if map-has($themes, $theme-name) {
      $theme: map-get($themes, $theme-name);

      @if map-has($theme, $value) {
        @return map-get($theme, $value);

      } @else {
        @warn 'Value "#{$value}" for #{$theme-name} was not found';
      }

    } @else {
      @warn 'Theme was not found';
    }
  }

  @function get-themes() {
    @return map-keys(map-remove($themes, 'default'));
  }

  position: relative;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

  max-width: 375px;
  min-width: 300px;
  min-height: 200px;
  margin: 0 auto;

  @include bp-up($navbar-collapse-bp) {
    border-radius: $bdrs-md;

    @each $prop, $value in get-properties($value: 'gradient') {
      #{$prop} : $value;
    }
  }


  &:hover {
    text-decoration: none;
  }

  p, h1, h2, h3, h4, h5, h6 {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    width: 100%;
    padding: spacer(1) $p-x;

    @include bp-up($navbar-collapse-bp) {
      padding: spacer(3) $p-x;
    }

    & > * {
      position: relative;
      z-index: 10;
    }

    &--brand {
      padding-right: 0;
      padding-left: 0;

      @include bp-up($navbar-collapse-bp) {
        padding-right: $p-x;
        padding-bottom: spacer(1);
        padding-left: $p-x;
      }
    }

    &--stage {
      border-top-left-radius: $bdrs-sm;
      border-top-right-radius: $bdrs-sm;

      @each $prop, $value in get-properties($value: 'emphasis') {
        #{$prop} : $value;
      }

      @include bp-up($navbar-collapse-bp) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &--meta {
    }

    &--about {
      padding-top: 0;
    }
  }

  &__wrapper {
    width: 100%;
    border-radius: $bdrs-sm;

    @each $prop, $value in get-properties() {
      #{$prop} : $value;
    }

    @include bp-up($navbar-collapse-bp) {
      border-radius: $bdrs-md;

      @each $prop, $value in get-properties() {
        #{$prop} : initial;
      }
    }
  }

  &__stage {
    color: $white;

    &-name {
      @each $prop, $value in get-properties($value: 'stage') {
        #{$prop} : $value;
      }
    }
  }

  &__meta {
    margin-bottom: 0;

    text-transform: uppercase;

    color: $white;
  }

  &__img {
    position: absolute;
    right: -$grid-gutter-width / 2;
    bottom: -12px;

    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100%;

    &--sm {
      @include bp-up($navbar-collapse-bp) {
        display: none;
      }
    }

    &--lg {
      display: none;

      @include bp-up($navbar-collapse-bp) {
        display: block;
        background-size: contain;
      }
    }

  }

  @each $theme-name in get-themes() {
    &[data-color-theme="#{$theme-name}"] {
      @include bp-up($navbar-collapse-bp) {
        @each $prop, $value in get-properties($theme-name, 'gradient') {
          #{$prop} : $value;
        }
      }

      & .card-dyed__block--stage {
        @each $prop, $value in get-properties($theme-name, 'emphasis') {
          #{$prop} : $value;
        }
      }

      & .card-dyed__stage-name {
        @each $prop, $value in get-properties($theme-name, 'stage') {
          #{$prop} : $value;
        }
      }

      & .card-dyed__wrapper {
        width: 100%;
        border-radius: $bdrs-sm;

        @each $prop, $value in get-properties($theme-name, 'flat') {
          #{$prop} : $value;
        }

        @include bp-up($navbar-collapse-bp) {
          border-radius: $bdrs-md;

          @each $prop, $value in get-properties($theme-name, 'flat') {
            #{$prop} : initial;
          }
        }
      }
    }
  }
}
