.chat {
	position: relative;
	display: flex;
	&:before {
		position: absolute;
		content: "";
		top: 64px;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #D3D4D9;
		@include bp-down(sm){
			left: 77px;
		}
	}
	&__topic {
		padding: 10px 45px 10px 28px;
		font-size: 18px;
		font-weight: 600;
		display: table;
		width: 100%;
		table-layout: fixed;
		align-items: center;
		justify-content: space-between;
		@include bp-down(xl){
			padding: 10px 28px;
		}
		@include bp-down(sm) {
			padding: 10px 15px;
		}
		&--md {
		  padding: spacer(7) spacer(8) spacer(6);
		}
		&-left {
			width: calc(100% - 150px);
			display: table-cell;
			vertical-align: middle;
		}
		&-right {
			padding-left: 15px;
			width: 150px;
			display: table-cell;
			vertical-align: middle;
		}
	}
	&__wrap {
		overflow: auto;
		margin-right: 24px;
		padding: 0 50px 0 90px;
		height: calc(100vh - 350px);
		min-height: 300px;
		@include bp-down(xl) {
			margin-right: 4px;
			padding: 0 15px 0 27px;
			height: calc(100vh - 355px);
		}
		@include bp-down(sm) {
			padding: 0 7px 0 15px;
		}
		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #85a4be;
		}
	}
	&__field {
		padding: 10px;
		margin-top: 15px;
		@include bp-down(sm) {
			margin-top: 5px;
		}
		&--right {
			padding-right: 10px;
			text-align: right;
		}
	}
	&__message {
		position: relative;
		padding: 14px 17px; 
		max-width: 567px;
		color: #fff;
		line-height: 1.5;
		min-width: 180px;
		background-color: #83a2bd;
		border: 1px solid white;
		border-radius: 10px;
		vertical-align: top;
		display: inline-block;
		@include bp-down(xl) {
			padding: 10px 16px;
			font-size: 14px;
		}
		&:before {
			position: absolute;
			content: "";
			top: 50%;
			right: 100%;
			margin-top: -7px;
			margin-right: 1px;
			@include arr(9,13,#83a2bd,l)
		}
		.chat__field--right & {
			background-color: #f4f4f4;
			color: #34364d;
			&:before {
				left: 100%;
				margin-right: auto;
				margin-left: 1px;
				@include arr(9,13,#f4f4f4,r)
			}
		}
	}
	&__check {
		margin-right: 5px;
	}
	&__date {
		margin-top: 12px;
		color: #34364d;
		text-transform: uppercase;
		@include bp-down(xl) {
			margin-top: 7px;
			font-size: 12px;
		}
	}
	&__footer {
		position: absolute;
		bottom: 16px;
		left: 26px;
		right: 25px;
		z-index: 2;
		padding: 0 30px 0 67px;
		display: flex;
		align-items: center;
		border-radius: 10px;
		background-color: #FFF;
		box-shadow: 3px 0 22.1px 1.9px rgba(0, 0, 0, 0.09);
		@include bp-down(sm) {
			left: -77px;
			bottom: 0;
			right: 0;
			padding: 0 20px;
		}
	}
	&__control {
		flex-grow: 1;
		input, textarea {
			width: 100%;
			height: 65px;
			display: block;
			color: #34364d;
			font-size: rem(16px);
			border: none;
			@include bp-down(sm) {
				font-size: rem(14px);
			}
			&:focus {
				outline: none;
				&::placeholder {
					font-size: 0;
				}
			}
			&::placeholder {
				color: #34364d;
			}
		}
		textarea {
			padding: 20px 0;
			resize: none;
			@include bp-down(sm) {
				padding: 24px 0;
			}
		}
	}
	&__controls {
		max-width: 110px;
		flex: 0 0 110px;
		text-align: right;
	}
	&__file,
	&__emojis,
	&__send {
		margin: 0;
		padding: 0;
		border: none;
		cursor: pointer;
		font-size: 0;
		background-position: center;
		background-color: transparent;
		&:focus {
			outline: none;
		}
		&:not(:first-child) {
			margin-left: 10px;
		}
	}
	&__send {
		margin-left: 30px;
	}
	&__window {
		position: relative;
		padding: 0 0 83px;
		flex-grow: 1;
		@include bp-down(sm) {
			padding: 0 0 66px;
		}
	}
	&__inform {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__topic-forms {
		display: flex;
		align-items: center;
	}
	&__notifications {
		margin-left: 10px;
		font-size: 0;
	}
	.card-brand {
		max-width: 100%;
	}
	.chat__copyists {
		max-width: 320px;
		flex: 0 0 320px;
		@include bp-down(sm) {
			max-width: 77px;
			flex: 0 0 77px;
			border-bottom-right-radius: 7px;
			height: calc(100vh - 299px);
		}
	}
	.card-brand__name {
		overflow: hidden;
		@include bp-down(sm) {
			display: none;
		}
	}
}

.chat-notifications {
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	font-size: 0;
	background-color: transparent;
	color: #83a2bd;
	.icon {
		height: 18px;
	}
}
