.client {
	display: flex;
	@include bp-down(sm) {
	  flex-wrap: wrap;
	  justify-content: center;
	}
	&__img {
		width: 126px;
		height: 126px;
		border-radius: 8px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&__wrap {
		flex-grow: 1;
		padding-left: 28px;
		color: #FFF;
		@include bp-down(sm) {
		padding: 0;
		  width: 100%;
		  flex-grow: 0;
		}
	}
	&__row {
		@include bp-down(sm) {
		  text-align: center;
		}
		&:not(:first-child) {
			margin-top: 40px;
			@include bp-down(sm) {
			  margin-top: 15px;
			}
		}
	}
	&__name {
		font-weight: 600;
		color: #FFF;
		font-size: 30px;
		vertical-align: top;
		display: inline-block;
		&:hover {
			color: #FFF;
			@include bp-down(sm) {
			  color: #83A3BE;
			}
		}
		@include bp-down(sm) {
		  color: #83A3BE;
		}
	}
	&__star {
		margin-top: 6px;
		vertical-align: top;
		display: inline-block;
		color: #FFF;
		@include bp-down(sm) {
		  color: #83A3BE;
		}
		&:not(:first-child) {
			margin-left: 15px;
		}
	}
	&__btn {
		min-width: 256px;
		@include bp-down(sm) {
		  min-width: 0;
		}
	}
	&__btn-email {
		margin: 1px 0 0 15px;
	}
}