.client {
	display: flex;
	@include bp-down(sm) {
	  flex-wrap: wrap;
	  justify-content: center;
	}
	&--vertical {
		flex-wrap: wrap;
	}
	&__img {
		width: 126px;
		height: 126px;
		border-radius: 8px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		&--border {
			border: 2px solid #fff;
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.22);
		}
		.client--sm & {
				width: 112px;
				height: 112px;
		}
		.client--vertical & {
			margin: 0 auto;
		}
	}
	&__wrap {
		flex-grow: 1;
		padding-left: 28px;
		color: #FFF;
		@include bp-down(sm) {
			padding: 0;
		  width: 100%;
		  flex-grow: 0;
		}
		.client--vertical & {
			padding-left: 0;
			width: 100%;
		}
	}
	&__row {
		@include bp-down(sm) {
		  text-align: center;
		}
		&:not(:first-child) {
			margin-top: 40px;
			@include bp-down(sm) {
			  margin-top: 15px;
			}
		}
	}
	&__name {
		font-weight: 600;
		color: #FFF;
		font-size: 30px;
		vertical-align: top;
		display: inline-block;
		&:hover {
			color: #FFF;
			@include bp-down(sm) {
			  color: #83A3BE;
			}
		}
		@include bp-down(sm) {
		  color: #83A3BE;
		}
		&--blue {
			color: #34364d;
			&:hover {
				color: #34364d;
				text-decoration: underline;
			}
		}
	}
	&__description {
		color: rgba(#7c7d85, .8);
		font-size: 20px;
	}
	&__star {
		margin-top: 6px;
		vertical-align: top;
		display: inline-block;
		color: #FFF;
		@include bp-down(sm) {
		  color: #83A3BE;
		}
		&:not(:first-child) {
			margin-left: 15px;
		}
	}
	&__btn {
		min-width: 256px;
		@include bp-down(sm) {
		  min-width: 0;
		}
	}
	&__btn-email {
		margin: 1px 0 0 15px;
	}
}