.filter-tabs {
  @extend %drop-list;

  $item-m-x: spacer();

  display: inline-flex;
  overflow-x: auto;
  position: relative;

  width: 100%;

  &__item {
    display: inline-flex;
    align-items: center;

    min-height: 50px;
    margin: 0 $item-m-x;

    @include bp-up($navbar-collapse-bp) {
      margin: 0 $item-m-x / 2;
    }

    @include bp-up(xl) {
      margin: 0 spacer(2);
      align-items: stretch;
    }

    @include bp-up(2xl) {
      margin: 0 spacer(7);
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      padding-right: $item-m-x;

      @include bp-up($navbar-collapse-bp) {
        padding-right: 0;
      }
    }
  }

  &__link {
    $p-y: 3px;
    $border-w: 2px;

    padding: rem($p-y + $border-w) 0 rem($p-y);

    color: gray('400');
    border-bottom: $border-w solid transparent;

    line-height: 1;

    &:hover {
      text-decoration: none;
    }

    @include bp-up(xl) {
      display: inline-flex;
      align-items: center;

      padding-right: 10px;
      padding-left: 10px;

      font-weight: bold;
    }

    &--active {
      color: theme-primary();
      border-bottom: $border-w solid theme-color('warning');

      font-weight: bold;
    }
  }
}
