.head-zone {
	padding: 40px 0;
	position: relative;
	display: flex;
	align-items: center;
	@include bp-down(xl) {
		flex-direction: column;
		align-items: flex-start;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: -46px;
		right: -46px;
		bottom: 0;
	}
	&__input {
		position: absolute;
		top: 0;
		visibility: hidden;
		opacity: 0;
	}
	&__info {
		position: relative;
		z-index: 1;
		padding: 13px 45px;
		max-width: 332px;
		width: 100%;
		background: #75A3BF;
		box-shadow: 0 0 34px 0 rgba(0,0,0,0.23);
		font-size: 16px;
		font-weight: 600;
		color: #FFFFFF;
		border-radius: 9px;
		text-align: center;
		@include bp-down(xl) {
			margin-top: 30px;
			align-self: center;
		}
	}
}
