.help-inf {
	position: relative;
	padding-right: 28px;
	max-width: 172px;
	font-size: 14px;
	&__text {
		color: #75A3BF;
	}
	&__icon	{
		position: absolute;
		top: 50%;
		right: 0;
		line-height: 1;
		margin-top: -7px;
	}
}