.help-inf {
	position: relative;

	max-width: 172px;
	padding-right: 30px;

	font-size: 14px;
	&__text {
		margin: 0;

		color: #75A3BF;
	}
	&__icon	{
		position: absolute;
		top: 50%;
		right: 0;

		margin-top: -7px;

		line-height: 1;
	}
}
