.panel {
	&__head {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__head-left {
		padding-right: 10px;
	}
	&__box-search {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-items: center;
	}
	&__form-search {
		padding: 0 15px;
		flex-grow: 1;
	}
	&__box-logo {
		img {
			max-height: 26px;
			max-width: 100%;
			display: block;
		}
	}
	&__title {
		margin: 25px 0 10px;
		color: #969ca5;
		font-size: 16px;
		font-weight: 600;
	}
	&__footer {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		p {
			margin: 0;
		}
	}
}

.panel-search {
	position: relative;
	margin: 0 auto;
	width: 221px;
	&__submit {
		position: absolute;
		top: 50%;
		left: 8px;
		margin-top: -9px;
		padding: 0;
		font-size: 0;
		border: none;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		.icon--search {
			font-size: 17px;
			transform: scale(-1) rotate(-90deg);
		}
	}
	.form-control {
		padding-left: 45px;
		&::placeholder {
			color: #34364d;
			font-size: 17px;
			font-weight: 600;
		}
	}
}

.panel-project {
	&__date {
		margin: 10px 0 10px 15px;
		color: #34364d;
		font-size: 16px;
		font-weight: 400;
		text-align: right;
		overflow: hidden;
	}
	&__date-text {
		padding: 0 34px 0 10px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		&:before {
			position: absolute;
			content: "";
			top: 50%;
			right: 100%;
			margin-top: -1px;
			width: 1000%;
			height: 1px;
			background-color: #e1e4ec;
		}
	}
	&__topic {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	&__box-row {
		align-items: center;
	}
	&__name {
		border-right: 1px solid rgba(#000, .2);
		padding-right: 15px;
		.panel-project__topic & {
			border-right: none;
		}
		@include bp-down(sm) {
			border: none;
		}
	}
	&__text {
		text-align: center;
		@include bp-down(sm) {
			margin-top: 10px;
		}
	}
	&__btn {
		text-align: right;
		@include bp-down(sm) {
			margin-top: 10px;
		}
	}
	&__img-btn {
		vertical-align: top;
		display: inline-block;
		img {
			max-height: 24px;
			display: block;
		}
	}
	&__img-btn--md {
		img {
			max-height: 32px;
			display: block;
		}
	}
}

.panel-boxes {
	margin: 0 -25px -30px 0;
}
.panel-box {
	margin: 0 30px 30px 0;
	padding: 15px 18px 13px;
	width: 180px;
	text-align: right;
	vertical-align: top;
	display: inline-block;
	border-radius: 10px;
	background-color: #FFF;
	box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09);
	&__top {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	&__icon {
		margin: 0 12px 7px 0;
		display: inline-block;
		@include arr(16,12,#b9f131,t)
	}
	&__number {
		color: #34364d;
		font-size: 34px;
		line-height: 1;
		font-weight: 400;
	}
	&__text	{
		color: #83a2bd;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}
}