.project {
	vertical-align: middle;
	display: flex;
	&--sm {
		display: inline-flex;
		.project__name {
			max-width: 130px;
		}
	}
	&__logo {
		width: 37px;
		height: 37px;
		border-radius: 50%;
		border: 2px solid #fff;
		box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.22);
		background-color: #000;
		background-size: cover;
		background-position: center;
		display: block;
		.project--md & {
			flex: 0 0 75px;
			max-width: 75px;
			height: 75px;
		}
		&--blue-borm {
			border-color: #2A2550;
			border-width: 2px;
			box-shadow: none;
		}
	}
	&__soc {
		margin-top: 5px;
	}
	&__soc-icon .icon {
		font-size: 20px;
	}
	&__wrap {
		padding-left: rem(10px);
		flex-grow: 1;
	}
	&__name {
		color: #2A2550;
		font-size: 16px;
		font-weight: 600;
	}
	&__type {
		color: #7f7f7f;
		font-size: 14px;
		font-weight: 400;
	}
}

.project-trigger {
	position: relative;
	margin-top: rem(13px);
	margin-right: rem(12px);
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	transition: transform .3s;
	&:before {
		position: absolute;
		content: "";
		top: -10px;
		right: -10px;
		bottom: -10px;
		left: -10px;
	}
	.is-open-project & {
		transform: translateY(8px)
	}
	&__text {
		position: absolute;
		padding-left: 1px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 100%;
		min-width: 10px;
		text-align: center;
		color: #809fba;
		font-size: 15px;
		font-weight: 600;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s, visibility .3s;
		.is-open-project & {
			visibility: visible;
			opacity: 1;
		}
	}
	&__icon	{
		@include arr(9,11,#bbb,r);
		display: inline-block;
		transition: border-color .3s, transform .3s;
		.is-open-project & {
			transform: rotate(90deg);
			@include arr(9,11,#83a2bd,r);
		}
	}
}

.project-token {
	padding: 25px 0;
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #686678;
	@include bp-down(sm) {
	  flex-wrap: wrap;
	}
	& + .project-token {
		border-top: 1px solid #E5E5E5;
	}
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}
	&__logo {
		margin-right: 20px;
		flex: 0 0 62px;
		width: 62px;
		height: 62px;
		border-radius: 7px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include bp-down(sm) {
		  margin: 0 0 20px;
		}
	}
	&__wrap {
		flex-grow: 1;
		@include bp-down(sm) {
		  width: 100%;
		  flex-grow: 0;
		}
	}
	&__row {
		&:not(:first-child) {
			margin-top: 13px;
		}
	}
	&__item {
		display: inline-flex;
		flex-wrap: wrap;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		&:not(:last-child) {
			margin-right: 20px;
		}
		@include bp-down(sm) {
		  width: 100%;
		}
	}
	&__label {
		margin-right: 15px;
	}
	&__data {
		font-weight: 600;
		color: #2A2550;
	}
	&__link {
		color: #75A3BF;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		&:hover {
			color: #75A3BF;
		};
	}
}