.sale {
	&__head {
		display: flex;
		align-items: center;
		justify-content: center;
		@include bp-down(lg) {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}
	&__center {
		@include bp-down(sm) {
			width: 100%;
		}
	}
	&__left {
		padding-right: 38px;
		@include bp-down(lg) {
			padding: 0 0 38px;
		}
		@include bp-down(sm) {
			padding: 0 0 25px;
		}
	}
	&__right {
		padding-left: 38px;
		@include bp-down(lg) {
			padding: 38px 0 0;
		}
		@include bp-down(sm) {
			padding: 30px 0 0;
		}
	}
	&__body {
		margin-top: 42px;
		display: flex;
		align-items: center;
		@include bp-down(lg) {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}
	&__compare {
		width: 372px;
		@include bp-down(lg) {
			width: 100%;
		}
	}
	&__box {
		width: calc((100% - 372px) / 2);
		@include bp-down(lg) {
			width: 100%;
		}
		@include bp-down(sm) {
			padding-left: rem(16px);
			padding-right: rem(16px);
		}
	}
}

.user {
	width: 200px;
	vertical-align: top;
	display: inline-block;
	&--check-right {
		margin-right: 68px;
		@include bp-down(lg) {
			margin: 0;
		}
	}
	&--check-left {
		margin-left: 68px;
		@include bp-down(lg) {
			margin: 0;
		}
	}
	&__wrap {
		@include bp-down(lg) {
			position: relative;
		}
		.user--check-right & {
			@include bp-down(lg) {
				padding-bottom: 112px;
			}
			@include bp-down(sm) {
				padding-bottom: 0;
			}
		}
		.user--check-left & {
			@include bp-down(lg) {
				padding-top: 112px;
			}
			@include bp-down(sm) {
				padding-top: 0;
			}
		}
	}
	&__avatar {
		position: relative;
		margin: 0 auto;
		height: 110px;
		width: 110px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include bp-down(lg) {
			position: static;
		}
	}
	&__name {
		margin-top: 18px;
		font-size: rem(20px);
		font-weight: 600;
		text-align: center;
		hyphens: auto;
	}
	&__status {
		height: 8px;
		width: 8px;
		border-radius: 50px;
		vertical-align: middle;
		display: inline-block;
		&.is-active {
			background-color: #67DC8A;
		}
	}
	&__check-line {
		position: absolute;
		top: 50px;
		width: 17px;
		height: 17px;
		border-radius: 2px;
		border: 1px solid #67DC8A;
		@include bp-down(sm) {
			display: none;
		}
		&:before {
			position: absolute;
			content: "";
			top: 50%;
			margin-top: -1px;
			width: 72px;
			border-bottom: 1px dashed #979797;
			.user--check-right & {
				left: -84px;
			} 
			.user--check-left & {
				right: -84px;
			}
		}
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 6px;
			@include bp-down(lg) {
				transform: translate(-50%,-50%) rotate(-90deg);
			}
		}
		.user--check-right & {
			right: -112px;
			@include bp-down(lg) {
				right: 50%;
				top: auto;
				bottom: 0;
				margin-right: -8px;
				transform: rotate(90deg);
			}
		} 
		.user--check-left & {
			left: -112px;
			@include bp-down(lg) {
				left: 50%;
				top: 0;
				margin-left: -8px;
				transform: rotate(90deg);
			}
		}
	}
}

.sale-card {
	width: 372px;
	border: 1px solid #E5E5E5;
	overflow: hidden;
	border-radius: 10px;
	@include bp-down(sm) {
		width: 100%;
	}
	&__head {
		padding: 7px 12px;
		font-size: 0;
		font-weight: 600;
		color: #686678;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid #E5E5E5;
		background-color: #F5F5F5;
	}
	&__head-title {
		font-size: rem(16px);
		font-weight: 600;
	}
	&__wrap {
		padding: 15px 15px 16px;
		color: #2A2550;
		font-size: rem(14px);
		font-weight: 400;
		text-align: center;
	}
	&__date {
		padding: 0 5px;
		color: #6d8199;
		font-size: 12px;
		border-top: 1px solid #E5E5E5;
		display: inline-block;
		vertical-align: top;
	}
	&__description {
		font-size: rem(16px);
		font-weight: 600;
	}
	&__summ {
		font-size: rem(24px);
		font-weight: 700;
		text-transform: uppercase;
		&:not(:first-child) {
			margin-top: 10px;
		}
	}
	&__bonus {
		font-weight: 700;
		text-transform: uppercase;
	}
	&__conversion {
		text-transform: uppercase;
		&:not(:first-child) {
			margin-top: 15px;
		}
	}
}