.simple-head {
	display: flex;
	justify-content: space-between;
	@include bp-down(xl) {
		flex-wrap: wrap;
		justify-content: center;
	}
	&__center {
		padding-left: 170px;
		padding-right: 15px;
		flex-grow: 1;
		@include bp-down(xl) {
			padding-left: 0;
			flex-grow: 0;
		}
	}
	&__right {
		width: 170px;
		color: #9F9F9F;
		font-size: 16px;
		@include bp-down(xl) {
		  width: 100%;
		  text-align: center;
		}
	}
	&__left {
		& + .simple-head__center {
			padding: 0 15px;
		}
	}
}