[data-tabs] {
  overflow: hidden;
  [data-tabs-control] {
    cursor: pointer;
    user-select: none;
    &[disabled],
    &.is-disabled {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  [data-tabs-wrapper] {
    position: relative;
  }
  [data-tabs-container] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    &.is-open {
      position: relative;
      opacity: 1;
      visibility: visible;
    }
  }
}

.tabs {
  color: #2A2550;
  font-size: 16px;
  line-height: 1.25;
  &__out {
    overflow: auto;
    &--flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__control-right {
    margin-top: -7px;
    @include bp-down(lg) {
      margin: 0 0 5px;
      width: 100%;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
  }
  &__item {
    padding: 0 0 14px;
    font-size: 16px;
    color: #686678;
    min-height: 38px;
    vertical-align: top;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    border-bottom: 2px solid transparent;
    transition: color .3s, border-color .3s, font-size .3s;
    display: inline-block;
    &:hover {
      color: #2A2550;
    }
    &.is-active {
      border-color: #FF7864;
      font-size: 18px;
      color: #2A2550;
    }
    &:not(:first-child) {
      margin-left: 60px;
      @include bp-down(sm) {
        margin-left: 30px;
      }
    }
    .icon {
      margin-right: 5px;
      font-size: 17px;
      vertical-align: top;
      display: inline-block;
    }
  }
  &__item-img {
    img {
      max-height: 24px;
      display: block;
    }
  }
  &__container {
    padding-top: 22px;
  }
  &__footer {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #F1F1F1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__link,
  &__soc {
    @include bp-down(sm) {
      padding-left: 0;
      width: 100%;
      text-align: center;
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
  &__inner {
    padding-right: 5px;
    max-height: 176px;
    overflow: auto;
    // @include bp-down(2xl) {
    //   max-height: none;
    // }
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #85a4be;
    }
    &--md {
      max-height: 232px;
    }
    &--lg {
      max-height: 690px;
    }
  }
  &__table {
    min-width: 560px;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 16px;
   tr {
    font-size: 14px;
    color: rgba(#222, 0.4);
    letter-spacing: 0.0032em;
   }
   th {
    padding: 12px 10px; 
    font-size: 14px;
   }
   td, th {
    vertical-align: middle;
    &:first-child {
      width: 25%;
    }
    &:nht-child(2) {
      width: 60%;
    }
    &:last-child {
      width: 15%;
    }
   }
   td {
    padding: 7px 10px 7px 0;
    border-top: 1px solid #D6D9E0;
     &:first-child {
        text-align: left;
      }
   }
  }
  &__table-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}

.tab-wrapper { 
  padding: rem(60px) rem(50px);
  border-radius: 7px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  @include bp-down(sm) {
    padding: rem(30px) rem(20px);
  }
}

.notif {
  display: flex;
  flex-wrap: wrap;
  &__left,
  &__right {
    flex: 0 0 50%;
    max-width: 50%;
    @include bp-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__right {
    @include bp-down(sm) {
      padding-top: 20px;
    }
  }
}


.notif-info {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 5px 0 0 5px;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &--yellow {
    background-color: #f9f9f9;
    background-image: linear-gradient(to right, #ffefd4 0%, #fffbf0 100%);
  }
  &--blue {
    background-image: linear-gradient(to right, #e6eef7 0%, #f8fbff 100%);
  }
  &--red {
    background-image: linear-gradient(to right, rgba(255, 239, 212, 0.5) 0%, rgba(243, 157, 147, 0.5) 0%, rgba(255, 225, 216, 0.05) 100%);
  }
  &__content { 
    padding: 13px;
    flex-grow: 1; 
    .text-bold {
      font-weight: 600;
    }
  }
  &__icon {
    flex: 0 0 60px;
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: 20px;
      color: #f4b565;
    }
  }
}
