.toggle-table {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0.7px 0.7px 0 #e3e6e9;
	background-color: #fff;
	table-layout: fixed;
	thead {
		
	}
}

.table-toggle-inner {
	width: 100%;
	table-layout: fixed;
}