.transactions {
	margin: 0 auto;
	max-width: 906px;
	font-size: 14px;
	color: #2A2550;
	counter-reset: section;
	&__row {
		padding: 25px 0;
		display: flex;
		align-items: center;
		@include bp-down(sm) {
			flex-wrap: wrap;
		}
		&:not(:last-child) {
			border-bottom: 1px solid #E7E7E7;
		}
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
	&__name {
		padding: 0 25px 0 50px;
		width: 190px;
		&:before {
			counter-increment: section;                 /* Инкрементирует счетчик*/
			content: counter(section) '. ';
		}
		@include bp-down(sm) {
			margin-bottom: 5px;
			padding: 0;
			width: 100%;
		}
	}
	&__control {
		flex-grow: 1;
		@include bp-down(sm) {
			width: calc(100% - 70px;);
		}
	}
	&__time {
		padding: 0 25px;
		width: 113px;
		color: #9B9B9B;
		@include bp-down(sm) {
			padding-right: 0;
			width: 70px;
			text-align: right;
		}
	}
}