.upload-img {
	position: relative;
	vertical-align: top;
	display: inline-block;
	&__wrap {
		margin-bottom: 0;
		display: block;
	}
	&__img {
		width: rem(156px);
		height: rem(156px);
		border-radius: 16px;
		background-size: cover;
		background-position: center;
		display: block;
	}
	&__upload {
		position: absolute;
		right: 8px;
		bottom: 8px;
		z-index: 1;
		width: rem(26px);
		height: rem(26px);
		border-radius: 50%;
		cursor: pointer;
		overflow: hidden;
		background-color: $port-gore;
		display: block;
		input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: rem(13px);
		}
	}
}