.user-block {
	position: relative;
	display: flex;
	&__wrap {
		padding-left: 24px;
		padding-right: 15px;
		width: 280px;
	}
	&__title {
		font-size: 24px;
		font-weight: 600;
		color: #2A2550;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	&__link {
		font-size: 20px;
	}
}
