{% import "lib/helpers.njk" as helpers %}

{% macro make(content, src = false, classes = false) %}
<div class="card-brand{{ helpers.parse(classes) }}">
  {% if src %}
  <span class="card-brand__badge">
    <span class="card-brand__logo" style="background-image: url({{ src }});"></span>
  </span>
  {% endif %}

  <div class="card-brand__name">
  {{ content | safe }}
  </div>
</div>
{% endmacro %}
