{% import "lib/dropdown.njk" as dropdown %}
{% import "lib/icon.njk" as icon %}
{% import "lib/helpers.njk" as helpers %}

{% macro make(id, classes) %}
{% set link %}
<span class="net__text">Ethereum Nain Net</span>
<span class="net__img">
  <img src="assets/imgs/fox-placeholder.png" alt="Awesome fox" width="43" height="45">

  {# {{ icon.make('arrow', 'net__icon') }} #}
</span>
{% endset %}

{% set content %}
<p class="net__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
{% endset %}

{% set classes = 'dropdown-absolute dropdown-align-right net' + helpers.parse(classes) %}

{{ dropdown.make(link, content, id, classes, false) }}
{% endmacro %}
