{% macro make(options) %}
<div data-range-slider class="range-input">
  <label data-range-slider-value="min" class="range-input__value range-input__value--min">
    <input data-range-slider-input="0" type="text" name="" value="5">

    <span data-range-slider-amount data-range-slider-amount-postfix="ETH" class="range-input__amount" hidden></span>
  </label>

  <div data-range-slider-container></div>

  <label data-range-slider-value="max" class="range-input__value range-input__value--max">
    <input data-range-slider-input="100" type="text" name="" value="79">

    <span data-range-slider-amount data-range-slider-amount-postfix="ETH" class="range-input__amount" hidden></span>
  </label>
</div>
{% endmacro %}
