{% extends "layout.njk" %}

{% block content %}

  <!-- begin create -->
  <div class="create">
    <!-- end hero -->
    <div class="create__container container-lg container-fluid">
      <div class="box box--p--lg">
        {{ steps.make({
          class: 'mt-5 mb-10',
          prevBtnDisabled: true,
          active: 1
        }) }}
        {#<div class="simple-head">
          <div class="simple-head__center text-center">
            <h2>Hello! This is a project creation page</h2>
            <h2 class="text-blue">step #1</h2>
          </div>
          <div class="simple-head__right">
            last autosave in <span class="text-blue">Drafts</span> 10 october 19:03
          </div>
        </div> #}
        <!-- begin row -->
        <div class="row mt-5">
          <div class="col-xxl-3 mt-4">
            <h4>Base information</h4>
            <div class="help-inf xl-hide mt-8">
              <div class="help-inf__text">Upload your project logo, name & category to to personalize </div>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>
          <div class="col-xxl-9">
            <div class="row">
              <div class="col-xxl-3 col-xl-3 mt-4">
                <div class="upload-img">
                  <label class="upload-img__wrap">
                    <span class="upload-img__img" style="background-image: url(./assets/imgs/upload-img.png);"></span>
                    <span class="upload-img__upload">
                      <input type="file">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.44" height="11.41" viewBox="0 0 12.44 11.41">
                        <title>Photoins</title>
                        <path d="M2.46,3.34A1.26,1.26,0,0,0,1.2,4.6v6a1.26,1.26,0,0,0,1.26,1.26h9.07a1.26,1.26,0,0,0,1.26-1.26v-6a1.26,1.26,0,0,0-1.26-1.26H2.46Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                        <path d="M11.54,12.26H2.46A1.68,1.68,0,0,1,.78,10.58v-6A1.68,1.68,0,0,1,2.46,2.92h9.07A1.68,1.68,0,0,1,13.22,4.6v6A1.68,1.68,0,0,1,11.54,12.26ZM2.46,3.76a0.84,0.84,0,0,0-.84.84v6a0.84,0.84,0,0,0,.84.84h9.07a0.84,0.84,0,0,0,.84-0.84v-6a0.84,0.84,0,0,0-.84-0.84H2.46Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                        <path d="M7,10.6a2.92,2.92,0,0,1-2.81-3A2.92,2.92,0,0,1,7,4.58a2.92,2.92,0,0,1,2.81,3A2.92,2.92,0,0,1,7,10.6ZM7,5.42A2.08,2.08,0,0,0,5,7.59,2.08,2.08,0,0,0,7,9.76,2.08,2.08,0,0,0,9,7.59,2.08,2.08,0,0,0,7,5.42Z" transform="translate(-0.78 -0.85)" fill="#2a2550"/>
                        <path d="M5.45,1.27A0.42,0.42,0,0,0,5,1.69V3.12a0.42,0.42,0,0,0,.42.42h3.1A0.42,0.42,0,0,0,9,3.12V1.69a0.42,0.42,0,0,0-.42-0.42H5.45Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                        <path d="M8.55,4H5.45a0.84,0.84,0,0,1-.84-0.84V1.69A0.84,0.84,0,0,1,5.45.85h3.1a0.84,0.84,0,0,1,.84.84V3.12A0.84,0.84,0,0,1,8.55,4ZM5.45,1.69V3.12h3.1V1.69H5.45Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-xxl-5 col-xl-9 mt-4">
                <div class="form-group">
                  <label class="form-label" for="project-name">Name of Project</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="Pulse Health" id="project-name" placeholder="Telegram">
                 </div>
                 <div class="form-group">
                  <label class="form-label" for="project-category">Category</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <select data-select name="select" class="select select--gray" id="project-category">
                    <option>Medicine</option>
                    <option>Vanilla</option>
                    <option>Strawberry</option>
                    <option>Chocolate</option>
                  </select>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
        <div class="mt-9 xl-hide"></div>
        <!-- begin row -->
        <div class="row">
          <div class="col-xxl-3 col-xl-3">
            <div class="help-inf xl-hide mt-4">
              <div class="help-inf__text">A brief description will help investors pay attention to you</div>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-9">
            <div class="form-group">
              <label class="form-label" for="project-name">Short Description</label>
              <input type="text" class="form-control" value="The idea behind the ourproject.org initiative is for it to be a tool of the world." placeholder="Text">
             </div>
          </div>
        </div>
        <!-- end row -->
        <hr class="box__hr mt-8">
        <!-- begin row -->
        <div class="row mt-5">
          <div class="col-xl-3 mt-4">
            <h4>Contact</h4>
            <div class="help-inf xl-hide mt-8">
              <div class="help-inf__text">Better more contact information. People can reach you conveniently</div>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>
          <div class="col-xl-9 mt-4">
            <!-- begin row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="">E-mail</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="info@health.com" placeholder="Text">
                 </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="">Phone</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="+1 234 4231212" placeholder="Text">
                 </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="">Project URL</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="health-by.com" placeholder="Text">
                 </div>
              </div>
              <div class="col-md-6">
                <div class="mt-8 md-hide"></div>
                <div class="add-field">
                  <button class="add-field__btn btn-plus" data-toggle="modal" data-target="#add-field" type="button"></button>
                  You can also add another contact
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
        </div>
        <!-- end row -->
        <hr class="box__hr mt-8">
        <div class="text-center mt-8 mb-5">
          <div class="text-gray">Create the project and start you own ICO now!</div>
          <button class="btn btn-outline-info mt-3 ml-2 mr-2" type="button">SAVE</button>
          <button class="btn btn-success mt-3 ml-2 mr-2" type="button" data-toggle="modal" data-target="#modal-success">CREATE PROJECT</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end create -->

  {% set addModalContent %}
    <div class="add-modal">
     <div class="add-modal__head">Add contact</div>
     <div class="add-modal__wrap">
       <!-- begin soc-tabs -->
       <div class="soc-tabs" data-tabs>
         <div class="soc-tabs__out">
          <div class="soc-tabs__head">
            <div class="soc-tabs__head__wrap">
              <div class="form-label">Social</div>
              <ul class="soc-tabs__list">
                <li class="soc-tabs__item" data-tabs-control="in">
                  {{icon.make('linkedin-md')}}
                </li>
                <li class="soc-tabs__item" data-tabs-control="fb">
                  {{icon.make('facebook')}}
                </li>
                <li class="soc-tabs__item" data-tabs-control="telegram">
                  {{icon.make('telegram')}}
                </li>
                <li class="soc-tabs__item" data-tabs-control="twitter">
                  {{icon.make('twitter')}}
                </li>
                <li class="soc-tabs__item" data-tabs-control="plus">
                  <span class="btn-plus"></span>
                </li>
              </ul>
            </div>
          </div>
         </div>
         <div class="soc-tabs__wrap" data-tabs-wrapper>
          <div class="soc-tabs__container text-center" data-tabs-container="in">
            <div class="soc-tabs__acc">
              <div class="form-group">
                <label class="form-label">LinkedId account</label>
                <input type="text" class="form-control text-center" value="@health_by" placeholder="Soc">
              </div>
            </div>
            <div class="form-footer mt-10">
              <a href="#" class="btn btn-outline-info">+ Add</a>
            </div>
          </div>
          <div class="soc-tabs__container text-center" data-tabs-container="fb">
            <div class="soc-tabs__acc">
              <div class="form-group">
                <label class="form-label">facebook account</label>
                <input type="text" class="form-control text-center" value="@health_by" placeholder="Soc">
              </div>
            </div>
            <div class="form-footer mt-10">
              <a href="#" class="btn btn-outline-info">+ Add</a>
            </div>
          </div>
          <div class="soc-tabs__container text-center" data-tabs-container="telegram">
            <div class="soc-tabs__acc">
              <div class="form-group">
                <label class="form-label">Telegram account</label>
                <input type="text" class="form-control text-center" value="@health_by" placeholder="Soc">
              </div>
            </div>
            <div class="form-footer mt-10">
              <a href="#" class="btn btn-outline-info">+ Add</a>
            </div>
          </div>
          <div class="soc-tabs__container text-center" data-tabs-container="twitter">
            <div class="soc-tabs__acc">
              <div class="form-group text-center">
                <label class="form-label">Twitter account</label>
                <input type="text" class="form-control text-center" value="@health_by" placeholder="Soc">
              </div>
            </div>
            <div class="form-footer mt-10">
              <a href="#" class="btn btn-outline-info">+ Add</a>
            </div>
          </div>
          <div class="soc-tabs__container" data-tabs-container="plus">
            <div class="form-group">
             <label class="form-label" for="project-category">Source Name</label>
             <select data-select name="select" class="select select--gray" id="project-category">
               <option>Skype</option>
               <option>Vanilla</option>
               <option>Strawberry</option>
               <option>Chocolate</option>
             </select>
            </div>
            <div class="form-group">
             <label class="form-label" for="project-category">Contact</label>
             <select data-select name="select" class="select select--gray" id="project-category">
               <option>1234526</option>
               <option>Vanilla</option>
               <option>Strawberry</option>
               <option>Chocolate</option>
             </select>
            </div>
            <div class="form-footer text-center">
              <a href="#" class="btn btn-outline-info">+ Add</a>
            </div>
          </div>
         </div>
       </div>
       <!-- end soc-tabs -->
     </div>
    </div>
  {% endset %}
  {% set addModal = {
    id: 'add-field',
    content: addModalContent,
    dialog: 'modal-dialog-centered'
  } %}

  {{ modals | addToArray(addModal) }}

  {% set modalSuccess %}
    <div class="success-modal">
      <div class="success-modal__head">
        <div class="success-modal__title">Congratulations!</div>
        <div class="success-modal__description">Your project has created & saved in <span class="text-blue">Drafts</span></div>
      </div>
      <div class="success-modal__buttons">
        <a href="#" class="btn btn-outline-info">FILL LATER</a>
        <a href="#" class="btn btn-success">NEXT STEP</a>
      </div>
      <p>You can go to the next step or fill the information later.</p>
    </div>
  {% endset %}
  {% set successModal = {
    id: 'modal-success',
    content: modalSuccess,
    dialog: 'modal-dialog-centered'
  } %}

  {{ modals | addToArray(successModal) }}

{% endblock %}
