{% extends "layout.njk" %}

{% block content %}

  <!-- begin create -->
  <div class="create">
    <!-- end hero -->
    <div class="create__container container-lg container-fluid">
      <div class="box box--p--lg">
        <!-- begin row -->
        <div class="row mt-9">
          <div class="col-md-3">
            <h4>Base information</h4>
            <div class="help-inf mt-8">
              <div class="help-inf__text">Upload your project logo, name & category to to personalize </div>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <div class="upload-img">
                  <label class="upload-img__wrap">
                    <span class="upload-img__img" style="background-image: url(./assets/imgs/upload-img.png);"></span>
                    <span class="upload-img__upload">
                      <input type="file">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12.44" height="11.41" viewBox="0 0 12.44 11.41">
                        <title>Photoins</title>
                        <path d="M2.46,3.34A1.26,1.26,0,0,0,1.2,4.6v6a1.26,1.26,0,0,0,1.26,1.26h9.07a1.26,1.26,0,0,0,1.26-1.26v-6a1.26,1.26,0,0,0-1.26-1.26H2.46Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                        <path d="M11.54,12.26H2.46A1.68,1.68,0,0,1,.78,10.58v-6A1.68,1.68,0,0,1,2.46,2.92h9.07A1.68,1.68,0,0,1,13.22,4.6v6A1.68,1.68,0,0,1,11.54,12.26ZM2.46,3.76a0.84,0.84,0,0,0-.84.84v6a0.84,0.84,0,0,0,.84.84h9.07a0.84,0.84,0,0,0,.84-0.84v-6a0.84,0.84,0,0,0-.84-0.84H2.46Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                        <path d="M7,10.6a2.92,2.92,0,0,1-2.81-3A2.92,2.92,0,0,1,7,4.58a2.92,2.92,0,0,1,2.81,3A2.92,2.92,0,0,1,7,10.6ZM7,5.42A2.08,2.08,0,0,0,5,7.59,2.08,2.08,0,0,0,7,9.76,2.08,2.08,0,0,0,9,7.59,2.08,2.08,0,0,0,7,5.42Z" transform="translate(-0.78 -0.85)" fill="#2a2550"/>
                        <path d="M5.45,1.27A0.42,0.42,0,0,0,5,1.69V3.12a0.42,0.42,0,0,0,.42.42h3.1A0.42,0.42,0,0,0,9,3.12V1.69a0.42,0.42,0,0,0-.42-0.42H5.45Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                        <path d="M8.55,4H5.45a0.84,0.84,0,0,1-.84-0.84V1.69A0.84,0.84,0,0,1,5.45.85h3.1a0.84,0.84,0,0,1,.84.84V3.12A0.84,0.84,0,0,1,8.55,4ZM5.45,1.69V3.12h3.1V1.69H5.45Z" transform="translate(-0.78 -0.85)" fill="#fff"/>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="form-label" for="project-name">Name of Project</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="Pulse Health" id="project-name" placeholder="Telegram">
                 </div>
                 <div class="form-group">
                  <label class="form-label" for="project-category">Category</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <select data-select name="select" class="select select--gray" id="project-category">
                    <option>Medicine</option>
                    <option>Vanilla</option>
                    <option>Strawberry</option>
                    <option>Chocolate</option>
                  </select>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row mt-9">
          <div class="col-md-3">
            <div class="help-inf mt-4">
              <div class="help-inf__text">A brief description will help investors pay attention to you</div>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="project-name">Short Description</label>
              <input type="text" class="form-control" value="The idea behind the ourproject.org initiative is for it to be a tool of the world." placeholder="Text">
             </div>
          </div>
        </div>
        <!-- end row -->
        <hr class="box__hr mt-8">
        <!-- begin row -->
        <div class="row mt-9">
          <div class="col-md-3">
            <h4>Contact</h4>
            <div class="help-inf mt-8">
              <div class="help-inf__text">Better more contact information. People can reach you conveniently</div>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>
          <div class="col-md-7">
            <!-- begin row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="">E-mail</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="info@health.com" placeholder="Text">
                 </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="">Phone</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="+1 234 4231212" placeholder="Text">
                 </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="">Project URL</label>
                  <div class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</div>
                  <input type="text" class="form-control" value="health-by.com" placeholder="Text">
                 </div>
              </div>
              <div class="col-md-6 mt-8">
                <div class="add-field">
                  <button class="add-field__btn btn-plus" type="button"></button>
                  You can also add another contact
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
        </div>
        <!-- end row -->
        <hr class="box__hr mt-8">
        <div class="text-center mt-8 mb-5">
          <div class="text-gray">Create the project and start you own ICO now!</div>
          <a href="#" class="btn btn-success mt-3">CREATE PROJECT</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end create -->

{% endblock %}
