{% extends "layout.njk" %}

{% block content %}

  <!-- begin create -->
  <div class="create">
    <!-- end hero -->
    <div class="create__container container-lg container-fluid">
      <div class="box box--p--lg">
        <hr class="box__hr">
      </div>
    </div>
  </div>
  <!-- end create -->

{% endblock %}
