{% import "lib/swiper.njk" as swiper %}
{% import "lib/icon.njk" as icon %}

{% extends "layout.njk" %}

{% block content %}

  <form data-create-project class="create create--cycles" action="/" method="post">
    <div class="create__container container-lg container-fluid">
      <div class="box box--p--xxl">
        <div class="simple-head">
          <div class="simple-head__center text-center">
            <h2>This is a <span class="text-blue">PULSE HEALTH</span> creation page</h2>
            <h2 class="text-blue">step #5</h2>
          </div>
          <div class="simple-head__right">
            last autosave in <span class="text-blue">Drafts</span> 10 october 19:03
          </div>
        </div>
        {{ steps.make({
          class: 'mt-5 mb-14',
          active: 5
        }) }}

        <div class="row">
          <div class="col-xxl-3">
            <h2 class="h4 mb-8 mb-xxl-12">Cycles</h2>

            <div class="help-inf xl-hide mt-4">
              <p class="help-inf__text">Upload your project logo, name &amp; category to to personalize</p>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>

          <div class="col-xxl-9 create__cycles">
            <ul data-create-project-cycle="list" class="create__cycles-list">

              <li data-create-project-cycle="container" class="create__cycle">
                  <h3 class="text-lg font-weight-normal mb-5"><span data-create-project-cycle="index">1</span> Cycle</h3>

                  <div data-create-project-cycle="pie-chart" class="mb-5 chart chart--md chart--input" data-percent="20">
                    <div class="chart__inner">
                      <input data-create-project-cycle="percentage" data-pie-chart-value type="number" class="chart__input" value="20" min="0" max="100" name="project[cycles_attributes][1][percentage]"><span class="chart__parcent">%</span>
                    </div>
                  </div>

                  <label class="create__cycle-label mb-5">
                    <input data-language='ru' data-create-project-cycle="date" type='text' data-range="true" data-date-format="dd.mm.yyyy" data-multiple-dates-separator=" - " class="datepicker-here form-control create__cycle-datepicker" placeholder="__.__.____ - __.__.____" name="project[cycles_attributes][1][date]"/>
                  </label>

                  <p class="m-0 d-flex flex-column align-items-center text-muted text-sm">
                    <span>260 000</span>
                    <span>PHT</span>
                    <span>(<span>9 500</span> ETH)</span>
                    <span>totally</span>
                  </p>
              </li>

            </ul>
            <span class="create__cycles-control">
              <button data-create-project-cycle="add" class="create__cycles-add btn-plus" type="button" name="button">Add</button>
            </span>
          </div>
        </div>

        <hr class="box__hr box__content box__content--fluid mt-7 mb-10">

        <div class="row">
          <div class="col-xxl-3">
            <h2 class="h4 mb-8 mb-xxl-12">Milestones</h2>
          </div>
          <div class="col-xxl-9">
            <ul data-project-creator-tab="list" class="create__tabs nav mb-3">
              <li data-project-creator-tab="container" class="nav-item create__tab">
                <a class="nav-link active" data-project-creator-tab="link" href="#tabs-1">Cycle 1</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-xxl-3">
            <div class="help-inf xl-hide mt-4">
              <p class="help-inf__text">A brief description will help investors pay attention to you</p>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
            <div class="help-inf xl-hide mt-14">
              <p class="help-inf__text">Better more contact information. People can reach you conveniently</p>
              <div class="help-inf__icon">{{ icon.make('arr-right') }}</div>
            </div>
          </div>
          <div class="col-xxl-9">
            <div data-project-creator-tab="content" class="tab-content">
              <div class="tab-pane active fade show" id="tabs-1">
                <div class="row">
                  <div class="col-12 create__milestones">
                    <ul data-create-project-milestone="list" class="create__milestones-list">

                      <li data-create-project-milestone="container" class="create__milestone">
                        <span class="create__milestone-number" data-create-project-milestone="number">1</span>

                        <span class="create__milestone-dot"></span>

                        <label class="create__cycle-label create__milestone-label">
                          <input data-language='ru' data-create-project-milestone="date" type='text' data-range="true" data-date-format="dd.mm" data-multiple-dates-separator=" - " class="form-control create__cycle-datepicker create__milestone-datepicker" placeholder="__.__ - __.__" name="project[milestone_attributes][1][date]"/>
                        </label>
                      </li>

                    </ul>
                    <span class="create__milestones-control">
                      <button data-create-project-milestone="add" class="create__milestones-add btn-plus" type="button" name="button">Add</button>
                    </span>
                  </div>
                  <div class="col-xxl-6">
                    <h2 class="h5 font-weight-normal mb-9">Resource allocation</h2>

                    <div class="mb-5">
                      <div data-create-project-cycle="pie-chart" class="chart chart--md chart--input d-inline-block" data-percent="20">
                        <div class="chart__inner">
                          <input data-create-project-cycle="percentage" data-pie-chart-value type="number" class="chart__input" value="20" min="0" max="100"><span class="chart__parcent">%</span>
                        </div>
                      </div>

                      <span class="info-block" data-toggle="tooltip" title="Disabled tooltip">?</span>

                      <p class="m-0 ml-9 d-inline-flex flex-column align-items-center text-muted align-middle">
                        <span>260 000 PHT</span>
                        <span>(<span>9 500</span> ETH)</span>
                        <span class="text-sm">totally on</span>
                        <span class="text-sm">milestone</span>
                      </p>
                    </div>

                  </div>

                  <div class="col-xxl-6">
                    <h2 class="h5 font-weight-normal mb-9">Milestone settings</h2>
                    <p>
                      <span class="badge badge-outline-info">IPFS</span>
                      <span class="info-block ml-4" data-toggle="tooltip" title="Disabled tooltip">?</span>
                    </p>
                    <p class="form-check-inline">
                      <div class="form-check form-check--inline-block mb-2 mr-5">
                        <label>
                          <input data-project-creator-tab="ipfs" class="form-check-input" type="radio" name="" value="true">

                          <span class="form-check-label">
                            Yes
                          </span>
                        </label>
                      </div>

                      <div class="form-check form-check--inline-block mb-2">
                        <label>
                          <input data-project-creator-tab="ipfs" class="form-check-input" type="radio" name="" value="false" checked>
                          <span class="form-check-label">
                            No
                          </span>
                        </label>
                      </div>
                    </p>
                  </div>

                  <div class="col-12 mt-11">
                    <h2 class="h5 font-weight-normal mb-5">Dates</h2>

                    <div class="pl-xxl-12">
                      <label class="create__cycle-label create__cycle-label--w--fixed mb-5">
                        <input data-language='ru' data-create-project-cycle="date" type='text' data-range="true" data-date-format="dd.mm.yyyy" data-multiple-dates-separator=" - " class="form-control create__cycle-datepicker" placeholder="__.__.____ - __.__.____" />
                      </label>
                    </div>
                  </div>

                  <div class="col-12 mt-11">
                    <h2 class="h5 font-weight-normal mb-5">Description</h2>

                    <div class="editor editor--sm js-editor pl-xxl-12">
                      <div class="js-editor-container">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                      </div>
                    </div>

                  </div>

                  <div class="col-12 mt-11">
                    <h2 class="h5 font-weight-normal mb-5">Definition of Done</h2>

                    <div class="editor editor--sm js-editor pl-xxl-12">
                      <div class="js-editor-container">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="mt-11">
              <h2 class="h5 mb-5 font-weight-normal">Attachments</h2>

              <div class="row pl-xxl-12">
                <ul data-create-project-attach="list" class="col-6 create__block--vertical-divider text-info pt-4 pb-4 mb-0">
                  <li data-create-project-attach="row" data-create-project-attach="placeholder" class="pl-2">No files are added</li>
                </ul>

                <div class="col-6 pt-4 pb-4">
                  <input data-create-project-attach="input" id="create-project-file" type="file" name="" value="" multiple hidden>
                  <p class="text-lg text-info text-center mb-3"><span data-create-project-attach="count">0</span> Attachments Loaded</p>
                  <p class="mb-0 text-center"><label for="create-project-file" data-create-project-attach="add" type="button" class="btn btn-outline-primary">+ Add New</label></p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <hr class="box__hr box__content box__content--fluid mt-7 mb-7">

        <p class="mb-0 text-center">
          <button type="submit" class="btn btn-success">Complete registration</button>
        </p>
      </div>
    </div>
  </form>

{% endblock %}
