{% extends "layout.njk" %}

{% import "lib/icon.njk" as icon %}
{% import "blocks/card-light.njk" as cardLight %}
{% import "blocks/card-dyed.njk" as cardDyed %}
{% import "blocks/vote.njk" as vote %}

{% import "lib/swiper.njk" as swiper %}

{% set page = { active: 'dashboard' } %}

{% block content %}
<div class="container-fluid">
  <div class="row mb-9 mt-lg-10">
    <div class="col-12">
      <div class="page-dashboard__filters">
        {% include "partials/filters.njk" %}
      </div>
    </div>
  </div>

  <div class="row d-none d-lg-flex mb-7">
    <div class="col-12 d-flex flex-column">
      <h2 class="order-1 mb-0">Recommended for You</h2>
      <p class="text-lg mb-1">Don’t Miss them</p>
    </div>
  </div>
</div>

<div class="page-dashboard__featured mb-8">

{% set slides = [] %}

{% set content %}
<p class="mb-0 h2 font-weight-bolder text-primary">Your Project</p>
<p class="mb-3 text-md text-primary">Create Easily</p>
{% endset %}

{% set stage %}
<div class="pr-2 pl-2 d-flex flex-column align-items-start text-uppercase text-primary font-weight-bold text-lg text-center white-space-pre text-line-height-equal">
  <div class="d-flex flex-column align-items-center">
    <p class="mb-0">
      Get <span class="text-azure large">Premium</span>
    </p>
    <p class="mb-0">
      access for
    </p>
    <p class="mb-0">
      <span class="text-orange large">free</span> now!
    </p>
  </div>
</div>
{% endset %}

{{ slides | addToArray(cardDyed.make({
  brand: { src: 'assets/imgs/icon-ico-project-your-project.png', content: content },
  theme: 'silver',
  content: {
    stage: stage,
    meta: false
  },
  id: 'your-project'
})) }}

{% for project in datasets.get('premium-ico-project.json') %}
{% set content %}
<p class="mb-0 h2 font-weight-bolder text-primary text-lg-white">{{ project.name }}</p>
<p class="mb-0 h2 font-weight-bold text-uppercase text-xs text-primary text-lg-white">{{ project.field }}</p>
{% endset %}

{% set options = {
  brand: { src: project.brand, content: content },
  images: project.images,
  'stage-type': project['stage-type'],
  'days left': project['days left'],
  period: project.period,
  investment: project.investment,
  content: {
    stage: false,
    meta: true
  },
  theme: project.theme,
  badge: project.badge,
  id: project.id
} %}

{{ slides | addToArray(cardDyed.make(options)) }}
{% endfor %}

{% set options = {
  container: 'page-dashboard__featured-carousel',
  wrapper: 'page-dashboard__featured-wrapper',
  slide: 'page-dashboard__featured-slide',
  btnPrev: 'page-dashboard__featured-btn page-dashboard__featured-btn--prev',
  btnNext: 'page-dashboard__featured-btn page-dashboard__featured-btn--next'
} %}

{{ swiper.make(slides, options) }}
</div>

<div class="container-fluid">
  <div class="row mb-8">
    <div class="col-12">
      {% set content %}
      <p class="font-weight-bold">Will a blockchain change the rules of the game?</p>
      {% endset %}

      {{ vote.make(content) }}
    </div>
  </div>

  <div class="row d-none d-lg-flex mb-7">
    <div class="col-12 d-flex flex-column">
      <h2 class="order-1 mb-0">ICO Projects</h2>
      <p class="text-lg mb-1">Discover new</p>
    </div>
  </div>

  <div class="row mb-8">
    <div class="col-12 d-flex justify-content-center">
      <div class="page-dashboard__projects">

        {% set projects = datasets.get('ico-projects.json') %}

        {% for project in projects %}
        <div class="page-dashboard__projects-item">
          {% set brandContent %}
          <p class="mb-0 h3 font-weight-bold text-primary">{{ project.name }}</p>
          <p class="mb-0 font-weight-bold text-muted">{{ project.field }}</p>
          {% endset %}

          {% set brandOptions = {
            content: brandContent,
            src: project.brand
          } %}

          {{ cardLight.make(brandOptions, project.description, project.period, project.investment, project.status, project['days left'], project.kyc) }}
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
