{% extends "layout.njk" %}

{% block content %}

  <!-- begin profile -->
  <div class="profile">
    <div class="profile__container container-fluid mt-28">
      <div class="row">
        <div class="col-12">
          <div class="box box--p--xl box--fluid">
            <!-- begin avatar -->
            <div class="avatar">
              <div class="avatar__img" style="background-image: url(./assets/imgs/avatar.png);"></div>
              .avatar__гздщфв 
            </div>
            <!-- end avatar -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end profile -->

{% endblock %}