{% extends "layout.njk" %}

{% block content %}

  <!-- begin contact -->
  <div class="contact">
    <div class="contact__container container-fluid">
      {{ breadcrumbs.make({
        list: ['ICO Project’s', 'Portfoli', 'LancerNetwo', 'Contract_#1']
      }) }}
      <div class="box box--has--head">
        <div class="box__head box__head--md">
          <div class="box__head-inner">
            <div class="box__head-left">
              <div class="date">
                <span class="date__label">Date:</span> 01.08.2018
              </div>
            </div>
            <div class="box__head-center text-center">
              <h2 class="text-blue">Lancer Network</h2>
              <h2 class="text-uppercase">INVESTMENT CONTRACT</h2>
            </div>
            <div class="box__head-right">
              <div class="mb-1"><a href="#" class="source-link">{{ icon.make('link') }} Source FIle of Smart Contract</a></div>
              <div class="mb-0"><a href="#" class="source-link">{{ icon.make('link') }} PDF File of Smart Contract</a></div>
            </div>
          </div>
        </div>
        <div class="box__wrap box__wrap--2md">
          <!-- begin sale -->
          <div class="sale">
            <div class="sale__head">
              <div class="sale__left">
                <!-- begin user -->
                <div class="user user--check-right">
                  <div class="user__wrap">
                    <div class="user__avatar" style="background-image: url(./assets/imgs/user-avatar.png);">
                      <div class="user__check-line">{{ icon.make('check-valid') }}</div>
                    </div>
                    <div class="user__name">David G.</div>
                  </div>
                </div>
                <!-- end user -->
              </div>
              <div class="sale__center">
                <!-- begin sale-card -->
                <div class="sale-card">
                  <div class="sale-card__head">
                    <div class="sale-card__head-title">PRIVATE SALE</div>
                    <div class="sale-card__date">01.01 - 02.02.2019</div>
                  </div>
                  <div class="sale-card__wrap">
                    <div class="sale-card__description">Agreement of Token Purchase:</div>
                    <div class="sale-card__summ">1 180 000 LNT</div>
                    <div class="sale-card__bonus">+ 20% BONUS</div>
                    <div class="sale-card__conversion">1 LNT = 0.00025 ETH = 25 USD</div>
                  </div>
                </div>
                <!-- end sale-card -->
              </div>
              <div class="sale__right">
                <!-- begin user -->
                <div class="user user--check-left">
                  <div class="user__wrap">
                    <div class="user__avatar" style="background-image: url(./assets/imgs/user-avatar-2.png);">
                      <div class="user__check-line">{{ icon.make('check-valid') }}</div>
                    </div>
                    <div class="user__name">LancerNetwork <span class="user__status is-active"></span></div>
                  </div>
                </div>
                <!-- end user -->
              </div>
            </div>
            <div class="sale__body">
              <!-- begin box -->
              <div class="sale__box box box--p--lg box--border">
                <div class="box__control">
                  <a href="#" class="copy-link"><span class="copy-link__text"></span>0x123f681646d4a755815f9cb19e1acc8565a0c2ac</a>
                </div>
                <div class="box__cols">
                  <div class="box__row">
                    <div class="box__col">David Pierre Guetta</div>
                    <div class="box__col"><a href="mailto:info@lancer.network" class="icon-link">{{ icon.make('email') }}info@lancer.network</a></div>
                  </div>
                </div>
              </div>
              <!-- end box -->
              <div class="sale__compare">
                <!-- begin compare -->
                <div class="compare">
                  <div class="compare__left">
                    <div class="compare__icon">{{ icon.make('compare-left') }}</div>
                    <div class="compare__numb">92 250</div>
                    <div class="compare__text">ETH</div>
                  </div>
                  <div class="compare__right">
                    <div class="compare__numb">1 180 000</div>
                    <div class="compare__text">+ 236 000 (BONUS)</div>
                    <div class="compare__text">LNT</div>
                    <div class="compare__icon">{{ icon.make('compare-right') }}</div>
                  </div>
                </div>
                <!-- end compare -->
              </div>
              <!-- begin box -->
              <div class="sale__box box box--p--lg box--border">
                <div class="box__control">
                  <input type="text" class="form-control form-control--rad form-control--color-blue text-center" id="code" value="0x123f681646d4a755815f9cb19e1acc8565a0c2ac" placeholder="Last Name" readonly="readonly">
                </div>
                <div class="box__cols">
                  <div class="box__row">
                    <div class="box__col">David Pierre Guetta</div>
                    <div class="box__col"><a href="mailto:info@lancer.network" class="icon-link">{{ icon.make('email') }}info@lancer.network</a></div>
                  </div>
                </div>
              </div>
              <!-- end box -->
            </div>
          </div>
          <!-- end sale -->
        </div>
        <div class="box__wrap box__wrap--2md">
          <h5>Transaction list</h5>
          <!-- begin transactions -->
          <div class="transactions mt-6">
            {% for i in range(1,4) %}
            <div class="transactions__row">
              <div class="transactions__name">Transaction #{{ i }}</div>
              <div class="transactions__control">
                <input type="text" class="form-control form-control--rad form-control--color-blue text-center" id="code" value="0x123f681646d4a755815f9cb19e1acc8565a0c2ac" placeholder="Last Name" readonly="readonly">
              </div>
              <div class="transactions__time">14:35</div>
            </div>
            {% endfor %}
          </div>
          <!-- end transactions -->
        </div>
        <div class="box__wrap box__wrap--2md">
          <h5>RoadMap</h5>
          <!-- begin roadmap -->
          <div class="roadmap mt-6">
            <div class="roadmap__inner mb-8">
              <h6>Cycles <span class="small text-blue">( resource : 12 000 000 LNT / 75 000 ETH / 35 000 000 USD )</span></h6>
              <!-- begin cycles -->
              <ul class="cycles mt-8">
                {% for item in [
                  {
                    class: true,
                    diagramColor: '#FF7864',
                    title: '1’ST Cycle',
                    parcent: '40%',
                    percent: 40,
                    date: '25.10.2018 / 10.02.2019'
                  },
                  {
                    title: '2’ND Cycle',
                    parcent: '12%',
                    percent: 12,
                    date: '25.10.2018 / 10.02.2019'
                  },
                  {
                    title: '3’RD Cycle',
                    parcent: '48%',
                    percent: 48,
                    date: '25.10.2018 / 10.02.2019'
                  }
                ] %}
                <li class="cycles__item{% if item.class %} is-active{% endif %}">
                  <a href="#" class="cycle">
                    <div class="cycle__diagram">
                      <div class="chart chart--sm js-chart" data-line-width="6" data-size="52" data-bar-color="{{ item.diagramColor }}" data-track-color="#EBEEF5" data-percent="{{ item.percent }}"></div>
                    </div>
                    <div class="cycle__wrap">
                      <div class="cycle__title">{{ item.title }} <span class="cycle__parcent">( {{ item.parcent }} )</span></div>
                      <div class="cycle__date">{{ item.date }}</div>
                    </div>
                  </a>
                  <div class="cycles__arrow">
                    {{ icon.make('arrow-cycle') }}
                  </div>
                </li>
                {% endfor %}
              </ul>
              <!-- end cycles -->
            </div>
            <!-- begin cd-horizontal-timeline -->
            <div class="cd-horizontal-timeline roadmap__timeline">
              <div class="roadmap__inner">
              <h6>Milestones</h6>
                <div class="timeline mt-6">
                  <div class="events-wrapper">
                    <div class="events">
                      <ol>
                        <li>
                          <a href="#0" data-date="16/09/2017" class="selected">
                            <span class="events__period">I</span>
                            <span class="events__date">25.10 - 10.11</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" data-date="08/11/2017">
                            <span class="events__period">II</span>
                            <span class="events__date">25.10 - 27.11</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" data-date="09/01/2018">
                            <span class="events__period">III</span>
                            <span class="events__date">25.10 - 10.11</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" data-date="12/03/2018">
                            <span class="events__period">V</span>
                            <span class="events__date">25.11 - 10.12</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" data-date="1/04/2018">
                            <span class="events__period">VI</span>
                            <span class="events__date">25.11 - 10.12</span>
                          </a>
                        </li>
                        <li>
                          <a href="#0" data-date="18/07/2018">
                            <span class="events__period">VII</span>
                            <span class="events__date">25.11 - 10.12</span>
                          </a>
                        </li>
                      </ol>

                      <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                  </div>
                  <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive">{{ icon.make('arrow-left') }}Prev</a></li>
                    <li><a href="#0" class="next">{{ icon.make('arrow-right') }}Next</a></li>
                  </ul>
                </div>
              </div>
              <div class="events-content">
                <ol>
                  <li class="selected" data-date="16/09/2017">
                    <div class="events-wrap">
                      <!-- begin milestone -->
                      <div class="milestone">
                        <div class="milestone__chart">
                          <div class="chart chart--md js-chart" data-line-width="6" data-size="118" data-track-color="#F6F6F6" data-percent="20">
                            <div class="chart__inner">
                              <div class="chart__value js-chart-value">20</div>
                              <div class="chart__parcent">%</div>
                            </div>
                          </div>
                        </div>
                        <div class="milestone__wrap">
                          <div class="milestone__title">
                            SECOND MILESTONE <span class="milestone__badge badge badge-sm badge-outline-info">IPFS</span>
                          </div>
                          <div class="milestone__date">25 OCT - 27 NOV</div>
                          <div class="milestone__text">totally spent in this milestone</div>
                          <div class="milestone__price">260 000 LNT ( 19 500k USD )</div>
                        </div>
                      </div>
                      <!-- end milestone -->
                      <div class="events-wrap__row row">
                        <div class="events-wrap__col col-md-8">
                          <hr class="mt-8 mb-8">
                          <div class="events-wrap__group">
                            <h6>Description</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                          <div class="events-wrap__group">
                            <h6>Definition of Done</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                        </div>
                        <div class="events-wrap__col col-md-4">
                          <div class="pt-8 pb-8"></div>
                          <h6>Attachments</h6>
                          <div class="events-wrap__field mt-6">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Terms & Conditions</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Aldus PageMaker</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Letraset sheets</span>
                             </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li data-date="08/11/2017">
                    <div class="events-wrap">
                      <!-- begin milestone -->
                      <div class="milestone">
                        <div class="milestone__chart">
                          <div class="chart chart--md js-chart" data-line-width="6" data-size="118" data-track-color="#F6F6F6" data-percent="20">
                            <div class="chart__inner">
                              <div class="chart__value js-chart-value">20</div>
                              <div class="chart__parcent">%</div>
                            </div>
                          </div>
                        </div>
                        <div class="milestone__wrap">
                          <div class="milestone__title">
                            SECOND MILESTONE <span class="milestone__badge badge badge-sm badge-outline-info">IPFS</span>
                          </div>
                          <div class="milestone__date">25 OCT - 27 NOV</div>
                          <div class="milestone__text">totally spent in this milestone</div>
                          <div class="milestone__price">260 000 LNT ( 19 500k USD )</div>
                        </div>
                      </div>
                      <!-- end milestone -->
                      <div class="events-wrap__row row">
                        <div class="events-wrap__col col-md-8">
                          <hr class="mt-8 mb-8">
                          <div class="events-wrap__group">
                            <h6>Description</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                          <div class="events-wrap__group">
                            <h6>Definition of Done</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                        </div>
                        <div class="events-wrap__col col-md-4">
                          <div class="pt-8 pb-8"></div>
                          <h6>Attachments</h6>
                          <div class="events-wrap__field mt-6">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Terms & Conditions</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Aldus PageMaker</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Letraset sheets</span>
                             </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li data-date="09/01/2018">
                    <div class="events-wrap">
                      <!-- begin milestone -->
                      <div class="milestone">
                        <div class="milestone__chart">
                          <div class="chart chart--md js-chart" data-line-width="6" data-size="118" data-track-color="#F6F6F6" data-percent="20">
                            <div class="chart__inner">
                              <div class="chart__value js-chart-value">20</div>
                              <div class="chart__parcent">%</div>
                            </div>
                          </div>
                        </div>
                        <div class="milestone__wrap">
                          <div class="milestone__title">
                            SECOND MILESTONE <span class="milestone__badge badge badge-sm badge-outline-info">IPFS</span>
                          </div>
                          <div class="milestone__date">25 OCT - 27 NOV</div>
                          <div class="milestone__text">totally spent in this milestone</div>
                          <div class="milestone__price">260 000 LNT ( 19 500k USD )</div>
                        </div>
                      </div>
                      <!-- end milestone -->
                      <div class="events-wrap__row row">
                        <div class="events-wrap__col col-md-8">
                          <hr class="mt-8 mb-8">
                          <div class="events-wrap__group">
                            <h6>Description</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                          <div class="events-wrap__group">
                            <h6>Definition of Done</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                        </div>
                        <div class="events-wrap__col col-md-4">
                          <div class="pt-8 pb-8"></div>
                          <h6>Attachments</h6>
                          <div class="events-wrap__field mt-6">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Terms & Conditions</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Aldus PageMaker</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Letraset sheets</span>
                             </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li data-date="12/03/2018">
                    <div class="events-wrap">
                      <!-- begin milestone -->
                      <div class="milestone">
                        <div class="milestone__chart">
                          <div class="chart chart--md js-chart" data-line-width="6" data-size="118" data-track-color="#F6F6F6" data-percent="20">
                            <div class="chart__inner">
                              <div class="chart__value js-chart-value">20</div>
                              <div class="chart__parcent">%</div>
                            </div>
                          </div>
                        </div>
                        <div class="milestone__wrap">
                          <div class="milestone__title">
                            SECOND MILESTONE <span class="milestone__badge badge badge-sm badge-outline-info">IPFS</span>
                          </div>
                          <div class="milestone__date">25 OCT - 27 NOV</div>
                          <div class="milestone__text">totally spent in this milestone</div>
                          <div class="milestone__price">260 000 LNT ( 19 500k USD )</div>
                        </div>
                      </div>
                      <!-- end milestone -->
                      <div class="events-wrap__row row">
                        <div class="events-wrap__col col-md-8">
                          <hr class="mt-8 mb-8">
                          <div class="events-wrap__group">
                            <h6>Description</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                          <div class="events-wrap__group">
                            <h6>Definition of Done</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                        </div>
                        <div class="events-wrap__col col-md-4">
                          <div class="pt-8 pb-8"></div>
                          <h6>Attachments</h6>
                          <div class="events-wrap__field mt-6">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Terms & Conditions</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Aldus PageMaker</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Letraset sheets</span>
                             </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li data-date="1/04/2018">
                    <div class="events-wrap">
                      <!-- begin milestone -->
                      <div class="milestone">
                        <div class="milestone__chart">
                          <div class="chart chart--md js-chart" data-line-width="6" data-size="118" data-track-color="#F6F6F6" data-percent="20">
                            <div class="chart__inner">
                              <div class="chart__value js-chart-value">20</div>
                              <div class="chart__parcent">%</div>
                            </div>
                          </div>
                        </div>
                        <div class="milestone__wrap">
                          <div class="milestone__title">
                            SECOND MILESTONE <span class="milestone__badge badge badge-sm badge-outline-info">IPFS</span>
                          </div>
                          <div class="milestone__date">25 OCT - 27 NOV</div>
                          <div class="milestone__text">totally spent in this milestone</div>
                          <div class="milestone__price">260 000 LNT ( 19 500k USD )</div>
                        </div>
                      </div>
                      <!-- end milestone -->
                      <div class="events-wrap__row row">
                        <div class="events-wrap__col col-md-8">
                          <hr class="mt-8 mb-8">
                          <div class="events-wrap__group">
                            <h6>Description</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                          <div class="events-wrap__group">
                            <h6>Definition of Done</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                        </div>
                        <div class="events-wrap__col col-md-4">
                          <div class="pt-8 pb-8"></div>
                          <h6>Attachments</h6>
                          <div class="events-wrap__field mt-6">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Terms & Conditions</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Aldus PageMaker</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Letraset sheets</span>
                             </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li data-date="18/07/2018">
                    <div class="events-wrap">
                      <!-- begin milestone -->
                      <div class="milestone">
                        <div class="milestone__chart">
                          <div class="chart chart--md js-chart" data-line-width="6" data-size="118" data-track-color="#F6F6F6" data-percent="20">
                            <div class="chart__inner">
                              <div class="chart__value js-chart-value">20</div>
                              <div class="chart__parcent">%</div>
                            </div>
                          </div>
                        </div>
                        <div class="milestone__wrap">
                          <div class="milestone__title">
                            SECOND MILESTONE <span class="milestone__badge badge badge-sm badge-outline-info">IPFS</span>
                          </div>
                          <div class="milestone__date">25 OCT - 27 NOV</div>
                          <div class="milestone__text">totally spent in this milestone</div>
                          <div class="milestone__price">260 000 LNT ( 19 500k USD )</div>
                        </div>
                      </div>
                      <!-- end milestone -->
                      <div class="events-wrap__row row">
                        <div class="events-wrap__col col-md-8">
                          <hr class="mt-8 mb-8">
                          <div class="events-wrap__group">
                            <h6>Description</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                          <div class="events-wrap__group">
                            <h6>Definition of Done</h6>
                            <div class="events-wrap__text mt-6">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                          </div>
                        </div>
                        <div class="events-wrap__col col-md-4">
                          <div class="pt-8 pb-8"></div>
                          <h6>Attachments</h6>
                          <div class="events-wrap__field mt-6">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Terms & Conditions</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Aldus PageMaker</span>
                             </a>
                          </div>
                          <div class="events-wrap__field">
                            <a href="#" class="link-attach">
                               <span class="link-attach__icon">
                                {{ icon.make('attach') }}
                               </span>
                               <span class="link-attach__text">Letraset sheets</span>
                             </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                </ol>
              </div>
            </div>
            <!-- end cd-horizontal-timeline -->
          </div>
          <!-- end roadmap -->
        </div>
      </div>
    </div>
  </div>
  <!-- end contact -->

{% endblock %}