{% extends "layout.njk" %}

{% block content %}

  <!-- begin contact -->
  <div class="contact">
    <div class="contact__container container-fluid">
      {{ breadcrumbs.make({
        list: ['ICO Project’s', 'Portfoli', 'LancerNetwo', 'Contract_#1']
      }) }}
      <div class="box box--has--head">
        <div class="box__head">
          <div class="box__head-inner">
            <div class="box__left">
              <div class="date">Date: 01.08.2018</div>
            </div>
            <div class="box__head-center">
              Lancer Network
              INVESTMENT CONTRACT
            </div>
            <div class="box__head-right">
              
            </div>
          </div>
        </div>
        <div class="box__wrap box__wrap--md">
          
        </div>
        <div class="box__wrap box__wrap--md">
          <h5>Location</h5>
        </div>
        <div class="box__wrap box__wrap--md">
          <h5>RoadMap</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact -->

{% endblock %}