{% extends "layout.njk" %}

{% block content %}

  <!-- begin contact -->
  <div class="contact">
    <div class="contact__container container-fluid">
      {{ breadcrumbs.make({
        list: ['ICO Project’s', 'Portfoli', 'LancerNetwo', 'Contract_#1']
      }) }}
      <div class="box box--has--head">
        <div class="box__head">
          <div class="box__head-inner">
            <div class="box__left">
              <div class="date">Date: 01.08.2018</div>
            </div>
            <div class="box__head-center">
              Lancer Network
              INVESTMENT CONTRACT
            </div>
            <div class="box__head-right">
              
            </div>
          </div>
        </div>
        <div class="box__wrap box__wrap--md">
          <section class="cd-horizontal-timeline">
            <div class="timeline">
              <div class="events-wrapper">
                <div class="events">
                  <ol>
                    <li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
                    <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                    <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                    <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                    <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                  </ol>

                  <span class="filling-line" aria-hidden="true"></span>
                </div> <!-- .events -->
              </div> <!-- .events-wrapper -->
                
              <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
              </ul> <!-- .cd-timeline-navigation -->
            </div> <!-- .timeline -->

            <div class="events-content">
              <ol>
                <li class="selected" data-date="16/01/2014">
                  <h2>h1</h2>
                </li>

                <li data-date="28/02/2014">
                  <h2>h2</h2>
                </li>

                <li data-date="20/04/2014">
                  <h2>h3</h2>
                </li>

                <li data-date="20/05/2014">
                  <h2>h4</h2>
                </li>

                <li data-date="09/07/2014">
                  <h2>h5</h2>
                </li>

              </ol>
            </div> <!-- .events-content -->
          </section>
        </div>
        <div class="box__wrap box__wrap--md">
          <h5>Location</h5>
          <div class="chart js-chart" data-percent="73" data-scale-color="#ffb400"><span></span></div>
        </div>
        <div class="box__wrap box__wrap--md">
          <h5>RoadMap</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact -->

{% endblock %}