{% extends "layout.njk" %}
{% import "blocks/card-dyed.njk" as cardDyed %}

{% set page = { active: 'styleguide' } %}

{% block content %}
<div class="content pb-6 pt-6">
  <div class="container-fluid">

    <div class="card-dyed card-dyed_over js-cards-bg">
      <div class="card-dyed__bg-out">
        <div class="card-dyed__overlay"></div>
        <div class="card-dyed__bg">
          <iframe class="card-dyed__video js-cards-bg-video" width="1280" height="557" src="https://www.youtube.com/embed/Q0oIoR9mLwc?rel=0&controls=0&showinfo=0&loop=1​&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-dyed__block card-dyed__block--brand">
        <div class="card-brand card-dyed__brand">
          <span class="card-brand__badge">
            <span class="card-brand__logo" style="background-image: url(assets/imgs/icon-ico-project-brixby.png);"></span>
          </span>
          <div class="card-brand__name">
            <p class="mb-0 h2 font-weight-bolder text-primary text-lg-white">BRIXBY</p>
            <p class="card-brand__inf mb-0 h2 font-weight-bold text-uppercase text-xs text-primary text-lg-white">Carasharing</p></div>
          </div>
        </div>
        <div class="card-dyed__wrapper">
          <div class="card-dyed__block card-dyed__block--stage">
            <p class="card-dyed__stage">COMING SOON</p>
          </div>
          <div class="card-dyed__block card-dyed__block--meta">
            <p class="card-dyed__meta">
              <strong>8 JUN - 20 JUL</strong>
            </p>
            <p class="card-dyed__meta">MIN Invest: <strong>1.5 ETH</strong></p>
          </div>
        </div>
        <span class="card-dyed__img card-dyed__img--sm card-dyed__img--sm--lancer-network"></span>
        <span class="card-dyed__img card-dyed__img--lg card-dyed__img--lg--lancer-network"></span>
      </div>
    </div>

    {% for project in datasets.get('premium-ico-project.json') %}
    {% set content %}
    <p class="mb-0 h2 font-weight-bolder text-primary text-lg-white">{{ project.name }}</p>
    <p class="mb-0 h2 font-weight-bold text-uppercase text-xs text-primary text-lg-white">{{ project.field }}</p>
    {% endset %}

    {% set options = {
      brand: { src: project.brand, content: content },
      images: project.images,
      'stage-type': project['stage-type'],
      'days left': project['days left'],
      period: project.period,
      investment: project.investment,
      content: {
        stage: false,
        meta: true
      },
      theme: project.theme,
      badge: project.badge,
      id: project.id
    } %}
    <div class="mt-3">
      {{ cardDyed.make(options) }}
    </div>
    {% endfor %}
    <div id="scale" class="row mb-5">
      <div class="col-12">
        <h2 class="h1">Scale</h2>
      </div>
    </div>
    {% include "partials/styleguide/scale.njk" %}

    <div class="row mb-5">
      <div class="col-12">
        <h2 class="h1">Typography</h2>
      </div>
    </div>
    {% include "partials/styleguide/type.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Buttons</h2>
      </div>
    </div>
    {% include "partials/styleguide/buttons.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Spacers</h2>
        <p>15 different spacers are presented</p>
      </div>
    </div>
    {% include "partials/styleguide/spacers.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Boxes</h2>
      </div>
    </div>
    {% include "partials/styleguide/boxes.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Colors</h2>
      </div>
    </div>
    {% include "partials/styleguide/colors.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Select Input</h2>
      </div>
    </div>
    {% include "partials/styleguide/select.njk" %}

    <div id="badges" class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Badges</h2>
      </div>
    </div>
    {% include "partials/styleguide/badges.njk" %}

    <div id="badges" class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Sliders</h2>
      </div>
    </div>
    {% include "partials/styleguide/sliders.njk" %}

  </div>
</div>
{% endblock %}
