{% extends "layout.njk" %}

{% set page = { active: 'styleguide' } %}

{% block content %}
<div class="content pb-6 pt-6">
  <div class="container-fluid">
    <div id="scale" class="row mb-5">
      <div class="col-12">
        <h2 class="h1">Scale</h2>
      </div>
    </div>
    {% include "partials/styleguide/scale.njk" %}

    <div class="row mb-5">
      <div class="col-12">
        <h2 class="h1">Typography</h2>
      </div>
    </div>
    {% include "partials/styleguide/type.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Buttons</h2>
      </div>
    </div>
    {% include "partials/styleguide/buttons.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Spacers</h2>
        <p>15 different spacers are presented</p>
      </div>
    </div>
    {% include "partials/styleguide/spacers.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Boxes</h2>
      </div>
    </div>
    {% include "partials/styleguide/boxes.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Colors</h2>
      </div>
    </div>
    {% include "partials/styleguide/colors.njk" %}

    <div class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Select Input</h2>
      </div>
    </div>
    {% include "partials/styleguide/select.njk" %}

    <div id="badges" class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Badges</h2>
      </div>
    </div>
    {% include "partials/styleguide/badges.njk" %}

    <div id="badges" class="row mt-12 mb-5">
      <div class="col-12">
        <h2>Sliders</h2>
      </div>
    </div>
    {% include "partials/styleguide/sliders.njk" %}

  </div>
</div>
{% endblock %}
