$body-min-w: 375px;

$zindex-side-menu: 100;
$zindex-navbar: 110;

$navbar-collapse-bp: 'lg';
$navbar-h: 65px;
$navbar-h-lg: 92px;
$navbar-brand-w-sm: 106px;
$navbar-brand-w-lg: 164px;
$navbar-icon-color-sm: white;

$side-bar-w: 250px;
