$body-min-w: 375px;

$zindex-side-menu: 100;
$zindex-navbar: 110;

$navbar-collapse-bp: 'lg';
$navbar-h: 75px;
// $navbar-h-lg: 92px; // default
$navbar-h-lg: 75px;
$navbar-brand-w-sm: 106px;
$navbar-brand-w-lg: 164px;
$navbar-icon-color-sm: white;

$side-bar-w: 250px;
$side-bar-w-closed: 88px;

$side-bar-w-cc: 0.735;
$side-bar-w-percentage: 100% * $side-bar-w-cc;

$side-menu-p-x: 20px;

// colors
$port-gore: #2A2550;
$glacier: #75A3BF;
$catskill-white: #EBEEF5;
$silver-chalice: #9F9F9F;
$alto: #DADADA;
$seashell: #F1F1F1;
$de-york: #89D38B;
$dusty-gray: #9B9B9B;
