{% import "lib/helpers.njk" as helpers %}

{% macro make(link, content, id, classes, isOpen = false, options = {}) %}
<div class="dropdown{{ helpers.parse(classes) }}">
  <a href="#{{id}}" class="dropdown-link{{ helpers.parse(options.link) }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="{{isOpen}}">
    {{ link | safe }}
  </a>
  <div class="dropdown-content dropdown-menu {{ helpers.parse(options.content) }}">
    {{ content | safe }}
  </div>
</div>
{% endmacro %}
