<h3 class="mb-2">Default badges</h3>
<p class="mb-6">
  <span class="badge badge-primary">Primary</span>
  <span class="badge badge-secondary">Secondary</span>
  <span class="badge badge-success">Success</span>
  <span class="badge badge-danger">Danger</span>
  <span class="badge badge-warning">Warning</span>
  <span class="badge badge-info">Info</span>
  <span class="badge badge-light">Light</span>
  <span class="badge badge-dark">Dark</span>
</p>

<h3 class="mb-2">Pill badges</h3>
<p class="mb-6">
  <span class="badge badge-pill badge-primary">Primary</span>
  <span class="badge badge-pill badge-secondary">Secondary</span>
  <span class="badge badge-pill badge-success">Success</span>
  <span class="badge badge-pill badge-danger">Danger</span>
  <span class="badge badge-pill badge-warning">Warning</span>
  <span class="badge badge-pill badge-info">Info</span>
  <span class="badge badge-pill badge-light">Light</span>
  <span class="badge badge-pill badge-dark">Dark</span>
</p>

<h3 class="mb-2">Gradient badges</h3>
<p>
  Use <code>.badge-gradient-<span class="text-dark">{$badge-gradient-color}</span></code>
</p>
<p class="mb-6">
  <span class="badge badge-gradient-orange text-xs text-uppercase font-weight-bold">Orange</span>
  <span class="badge badge-gradient-blue text-xs text-uppercase font-weight-bold">Blue</span>
  <span class="badge badge-gradient-green text-xs text-uppercase font-weight-bold">Green</span>
  <span class="badge badge-gradient-gray text-xs text-uppercase font-weight-bold">Gray</span>
</p>

<h3 class="mb-2">Outline badges</h3>
<p>
  Use <code>.badge-outline-<span class="text-dark">{$theme-color}</span></code>
</p>
<p class="mb-6">
  <span class="badge badge-outline-primary">Primary</span>
  <span class="p-1 bg-dark"><span class="badge badge-outline-secondary">Secondary</span></span>
  <span class="badge badge-outline-success">Success</span>
  <span class="badge badge-outline-danger">Danger</span>
  <span class="badge badge-outline-warning">Warning</span>
  <span class="badge badge-outline-info">Info</span>
  <span class="badge badge-outline-light">Light</span>
  <span class="badge badge-outline-dark">Dark</span>
</p>

<h3 class="mb-2">Small badges</h3>
<p>
  Use <code>.badge-sm</span></code>
</p>
<p class="mb-6">
  <span class="badge badge-sm badge-primary">Primary</span>
  <span class="badge badge-sm badge-outline-primary">Primary</span>
  <span class="badge badge-sm badge-gradient-blue">Primary</span>
</p>
