<div class="row">
  <div class="col-12 col-md-3 mb-5 mb-md-0">
    <div class="box">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat numquam maiores eos quisquam. Ipsa sequi beatae illo earum repellat minima ea iste et excepturi, totam. Magnam ut quod neque obcaecati.
    </div>
  </div>
  <div class="col-6 col-md-3">
    <div class="box">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat numquam maiores eos quisquam. Ipsa sequi beatae illo earum repellat minima ea iste et excepturi, totam. Magnam ut quod neque obcaecati.
    </div>
  </div>
  <div class="col-6">
    <div class="box box--fluid">
      <p>Use <code>.box--fluid</code> to adjust <code>box</code> height by maximum container's height</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat numquam maiores eos quisquam. Ipsa sequi beatae illo earum repellat minima ea iste et excepturi, totam. Magnam ut quod neque obcaecati.
      </p>
    </div>
  </div>

  <div class="col-12 mt-11">
    <h3>Use cases for <code>.box__content</code></h3>
  </div>
  <div class="col-12 col-md-6 mt-3">
    <div class="box box--fluid">
      <div class="box__content">
        <p class="text-nowrap">Use <code>.box__content</code> block inside <code>.box</code> for loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong nowrap content</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mt-3">
    <div class="box box--fluid">
      <div class="box__content border border-warning p-1 mb-2">
        <p>
          <code>.box__content</code> <strong>without</strong> fluid modification.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="box__content box__content--fluid pt-2 pb-2 border border-success">
        <p>
          <code>.box__content .box__content--fluid</code> <strong>with</strong> fluid modification.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 mt-11 pt-3 pb-2 bg-info">
    <h3>Use cases for <code>.box--p--#{size}</code></h3>
  </div>
  <div class="col-12 col-md-6 mt-9">
    <div class="box box--p--xs box--fluid">
      <p>Use <code>.box--p--xs</code></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-9">
    <div class="box box--p--sm box--fluid">
      <p>Use <code>.box--p--sm</code>. That's a <strong>default</strong>.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-9">
    <div class="box box--p--md box--fluid">
      <p>Use <code>.box--p--md</code></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-9">
    <div class="box box--p--lg box--fluid">
      <p>Use <code>.box--p--lg</code></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <div class="box__content box__content--fluid bg-info">
        <p class="pt-2">
          An example of <code>.box__content--fluid</code> inside <code>.box--p--#{size}</code>;
        </p>
        <p class="m-0 pb-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 mt-9">
    <div class="box box--p--xl box--fluid">
      <p>Use <code>.box--p--xl</code></p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

</div>
