<div class="row">
  <div class="col-12 mb-2 mt-4">
    <p>
      <a href="#" class="btn">.btn</a>
      <a href="#" class="btn btn-primary">.btn-primary</a>
      <a href="#" class="btn btn-secondary">.btn-secondary</a>
      <a href="#" class="btn btn-info">.btn-info</a>
      <a href="#" class="btn btn-warning">.btn-warning</a>
      <a href="#" class="btn btn-success">.btn-success</a>
    </p>
    <p>
      <a href="#" class="btn btn-outline-primary">.btn-outline-primary</a>
      <a href="#" class="btn btn-outline-warning">.btn-outline-warning</a>
      <a href="#" class="btn btn-outline-success">.btn-outline-success</a>
    </p>
    <p class="bg-dark p-2">
      <a href="#" class="btn btn-outline-secondary">.btn-outline-secondary</a>
      <a href="#" class="btn btn-outline-info">.btn-outline-info</a>
    </p>
  </div>
</div>
