{% import "blocks/card-brand.njk" as brand %}
{% import "blocks/card-light.njk" as cardLight %}

<div class="row mb-8">
  <div class="col-12 mb-12">
    <p class="text-center">Default</p>
    <div class="card-dyed">
      <div class="card-dyed__block card-dyed__block--brand">
        {% set content %}
        <p class="mb-0 h2 font-weight-bolder text-uppercase text-primary text-lg-white">Brixby</p>
        <p class="mb-0 h2 font-weight-bold text-uppercase text-xs text-primary text-lg-white">Carasharing</p>
        {% endset %}

        {{ brand.make(content, 'assets/imgs/icon-ico-project-brixby.png', 'card-dyed__brand') }}
      </div>

      <div class="card-dyed__block card-dyed__block--status">
        <p class="text-uppercase text-white">Coming soon</p>
      </div>

      <div class="card-dyed__block  card-dyed__block--meta">
        <p class="text-uppercase text-white mb-0"><strong>5 sep - 5 oct</strong></p>
        <p class="text-uppercase text-white">MIN Invest: <strong>10 ETH</strong></p>
      </div>

      <span class="card-dyed__img card-dyed__img--car"></span>
    </div>
  </div>

  <div class="col-4">
    <p class="text-center">1600px (84%)</p>

    <div class="card-dyed" style="transform: scale(.84)">
      <div class="card-dyed__block card-dyed__block--brand">
        {% set content %}
        <p class="mb-0 h2 font-weight-bolder text-uppercase text-primary text-lg-white">Brixby</p>
        <p class="mb-0 h2 font-weight-bold text-uppercase text-xs text-primary text-lg-white">Carasharing</p>
        {% endset %}

        {{ brand.make(content, 'assets/imgs/icon-ico-project-brixby.png', 'card-dyed__brand') }}
      </div>

      <div class="card-dyed__block card-dyed__block--status">
        <p class="text-uppercase text-white">Coming soon</p>
      </div>

      <div class="card-dyed__block  card-dyed__block--meta">
        <p class="text-uppercase text-white mb-0"><strong>5 sep - 5 oct</strong></p>
        <p class="text-uppercase text-white">MIN Invest: <strong>10 ETH</strong></p>
      </div>

      <span class="card-dyed__img card-dyed__img--car"></span>
    </div>
  </div>

  <div class="col-4">
    <p class="text-center">1280px (67%)</p>

    <div class="card-dyed" style="transform: scale(.67)">
      <div class="card-dyed__block card-dyed__block--brand">
        {% set content %}
        <p class="mb-0 h2 font-weight-bolder text-uppercase text-primary text-lg-white">Brixby</p>
        <p class="mb-0 h2 font-weight-bold text-uppercase text-xs text-primary text-lg-white">Carasharing</p>
        {% endset %}

        {{ brand.make(content, 'assets/imgs/icon-ico-project-brixby.png', 'card-dyed__brand') }}
      </div>

      <div class="card-dyed__block card-dyed__block--status">
        <p class="text-uppercase text-white">Coming soon</p>
      </div>

      <div class="card-dyed__block  card-dyed__block--meta">
        <p class="text-uppercase text-white mb-0"><strong>5 sep - 5 oct</strong></p>
        <p class="text-uppercase text-white">MIN Invest: <strong>10 ETH</strong></p>
      </div>

      <span class="card-dyed__img card-dyed__img--car"></span>
    </div>
  </div>

  <div class="col-4">
    <p class="text-center">1024px (54%)</p>

    <div class="card-dyed" style="transform: scale(.54)">
      <div class="card-dyed__block card-dyed__block--brand">
        {% set content %}
        <p class="mb-0 h2 font-weight-bolder text-uppercase text-primary text-lg-white">Brixby</p>
        <p class="mb-0 h2 font-weight-bold text-uppercase text-xs text-primary text-lg-white">Carasharing</p>
        {% endset %}

        {{ brand.make(content, 'assets/imgs/icon-ico-project-brixby.png', 'card-dyed__brand') }}
      </div>

      <div class="card-dyed__block card-dyed__block--status">
        <p class="text-uppercase text-white">Coming soon</p>
      </div>

      <div class="card-dyed__block  card-dyed__block--meta">
        <p class="text-uppercase text-white mb-0"><strong>5 sep - 5 oct</strong></p>
        <p class="text-uppercase text-white">MIN Invest: <strong>10 ETH</strong></p>
      </div>

      <span class="card-dyed__img card-dyed__img--car"></span>
    </div>
  </div>
</div>

<div class="row mb-8">
  <div class="col-12 mb-12">
    <p class="text-center">Default</p>

    {% set brandContent %}
    <p class="mb-0 h3 font-weight-bold text-primary">Elysian</p>
    <p class="mb-0 font-weight-bold text-muted">E-commerce</p>
    {% endset %}

    {% set brandOptions = {
      content: brandContent,
      src: 'assets/imgs/icon-ico-project-elysian.png'
    } %}

    <div>
      {{ cardLight.make(brandOptions, 'Decentralized platform to build websites', '8 JUN - 20 JUL', '1.5 ETH', {
        "text" : "deployed",
        "color" : "orange"
      }, '15 days left', true) }}
    </div>
  </div>

  <div class="col-4 mb-3">
    <p class="text-center">1600px (84%)</p>

    {% set brandContent %}
    <p class="mb-0 h3 font-weight-bold text-primary">Elysian</p>
    <p class="mb-0 font-weight-bold text-muted">E-commerce</p>
    {% endset %}

    {% set brandOptions = {
      content: brandContent,
      src: 'assets/imgs/icon-ico-project-elysian.png'
    } %}

    <div style="transform: scale(.84)">
      {{ cardLight.make(brandOptions, 'Decentralized platform to build websites', '8 JUN - 20 JUL', '1.5 ETH', {
        "text" : "deployed",
        "color" : "orange"
      }, '15 days left', true) }}
    </div>
  </div>

  <div class="col-4 mb-3">
    <p class="text-center">1280px (67%)</p>

    {% set brandContent %}
    <p class="mb-0 h3 font-weight-bold text-primary">Elysian</p>
    <p class="mb-0 font-weight-bold text-muted">E-commerce</p>
    {% endset %}

    {% set brandOptions = {
      content: brandContent,
      src: 'assets/imgs/icon-ico-project-elysian.png'
    } %}

    <div style="transform: scale(.67)">
      {{ cardLight.make(brandOptions, 'Decentralized platform to build websites', '8 JUN - 20 JUL', '1.5 ETH', {
        "text" : "deployed",
        "color" : "orange"
      }, '15 days left', true) }}
    </div>
  </div>

  <div class="col-4 mb-3">
    <p class="text-center">1024px (54%)</p>

    {% set brandContent %}
    <p class="mb-0 h3 font-weight-bold text-primary">Elysian</p>
    <p class="mb-0 font-weight-bold text-muted">E-commerce</p>
    {% endset %}

    {% set brandOptions = {
      content: brandContent,
      src: 'assets/imgs/icon-ico-project-elysian.png'
    } %}

    <div style="transform: scale(.54)">
      {{ cardLight.make(brandOptions, 'Decentralized platform to build websites', '8 JUN - 20 JUL', '1.5 ETH', {
        "text" : "deployed",
        "color" : "orange"
      }, '15 days left', true) }}
    </div>
  </div>

  <p class="col-12 text-center">1600px (84%)</p>
  <div class="col-12 col-md-4 mb-2">
    <div class="box" style="transform: scale(.84)">
      <h1>h1. heading</h1>
      <h2>h2. heading</h2>
      <h3>h3. heading</h3>
      <h4>h4. heading</h4>
      <h5>h5. heading</h5>
      <h6>h6. heading</h6>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-2">
    <div class="box" style="transform: scale(.84)">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-2">
    <div class="box" style="transform: scale(.84)">
      <p>You can use the <code>&lt;mark&gt;</code> tag to <mark>highlight</mark> text.</p>
      <p><u>This line of text will render as underlined</u> Use <code>&lt;u&gt;</code> tag.</p>
      <p><small>This line of text is meant to be treated as fine print. Use  <code>&lt;small&gt;</code> tag.</small></p>
      <p><strong>This line rendered as bold text.</strong> Use <code>&lt;strong&gt;</code> tag.</p>
      <p><em>This line rendered as italicized text.</em> Use <code>&lt;em&gt;</code> tag.</p>
    </div>
  </div>

  <p class="col-12 text-center">1280px (67%)</p>
  <div class="col-12 col-md-4 mb-2">
    <div class="box" style="transform: scale(.67)">
      <h1>h1. heading</h1>
      <h2>h2. heading</h2>
      <h3>h3. heading</h3>
      <h4>h4. heading</h4>
      <h5>h5. heading</h5>
      <h6>h6. heading</h6>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-2">
    <div class="box" style="transform: scale(.67)">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-2">
    <div class="box" style="transform: scale(.67)">
      <p>You can use the <code>&lt;mark&gt;</code> tag to <mark>highlight</mark> text.</p>
      <p><u>This line of text will render as underlined</u> Use <code>&lt;u&gt;</code> tag.</p>
      <p><small>This line of text is meant to be treated as fine print. Use  <code>&lt;small&gt;</code> tag.</small></p>
      <p><strong>This line rendered as bold text.</strong> Use <code>&lt;strong&gt;</code> tag.</p>
      <p><em>This line rendered as italicized text.</em> Use <code>&lt;em&gt;</code> tag.</p>
    </div>
  </div>

    <p class="col-12 text-center">1024x (54%)</p>
    <div class="col-12 col-md-4 mb-2">
      <div class="box" style="transform: scale(.54)">
        <h1>h1. heading</h1>
        <h2>h2. heading</h2>
        <h3>h3. heading</h3>
        <h4>h4. heading</h4>
        <h5>h5. heading</h5>
        <h6>h6. heading</h6>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-2">
      <div class="box" style="transform: scale(.54)">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-2">
      <div class="box" style="transform: scale(.54)">
        <p>You can use the <code>&lt;mark&gt;</code> tag to <mark>highlight</mark> text.</p>
        <p><u>This line of text will render as underlined</u> Use <code>&lt;u&gt;</code> tag.</p>
        <p><small>This line of text is meant to be treated as fine print. Use  <code>&lt;small&gt;</code> tag.</small></p>
        <p><strong>This line rendered as bold text.</strong> Use <code>&lt;strong&gt;</code> tag.</p>
        <p><em>This line rendered as italicized text.</em> Use <code>&lt;em&gt;</code> tag.</p>
      </div>
    </div>

</div>
