<div id="select" class="row mb-8">
  <div class="col-3 mb-5">
    <select data-select name="select" class="select select-w-auto">
      <option>Banana</option>
      <option>Vanilla</option>
      <option>Strawberry</option>
      <option>Chocolate</option>
    </select>
  </div>

  <div class="col-3 mb-5">
    <select data-select name="select" class="select">
      <option>Banana</option>
      <option>Vanilla</option>
      <option>Strawberry</option>
      <option>Chocolate</option>
    </select>
  </div>
</div>

<div class="row mb-8">

    <div class="col-3 mb-5">
      <select data-select name="select" id="" class="select select-outline-primary">
        <optgroup label="Fruits and berries">
          <option>Banana</option>
          <option>Strawberry</option>
        </optgroup>

        <optgroup label="Other">
          <option>Vanilla</option>
          <option>Chocolate</option>
        </optgroup>
      </select>
    </div>

    <div class="col-3 mb-5">
      <select data-select name="select" id="" class="select select-outline-warning">
        <optgroup label="Fruits and berries">
          <option>Banana</option>
          <option>Strawberry</option>
        </optgroup>

        <optgroup label="Other">
          <option>Vanilla</option>
          <option>Chocolate</option>
        </optgroup>
      </select>
    </div>

    <div class="col-3 mb-5">
      <select data-select name="select" id="" class="select select-outline-info">
        <optgroup label="Fruits and berries">
          <option>Banana</option>
          <option>Strawberry</option>
        </optgroup>

        <optgroup label="Other">
          <option>Vanilla</option>
          <option>Chocolate</option>
        </optgroup>
      </select>
    </div>
</div>
