<div class="row">
  <div class="col-12 mb-6 mb-md-0 col-md-4">
    <div class="box">
      <p class="bg-dark text-white p-2 border-bottom border-info mb-0">
        .mb-0, 0px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-1">
        .mb-1, 4px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-2">
        .mb-2, 8px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-3">
        .mb-3, 12px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-4">
        .mb-4, <strong>default</strong>, 16px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-6">
        .mb-6, 26px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-7">
        .mb-7, 32px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-8">
        .mb-8, 38px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-9">
        .mb-9, 46px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info">
        End
      </p>
    </div>
  </div>
  <div class="col-12 mb-6 mb-md-0 col-md-4">
    <div class="box">
      <p class="bg-dark text-white p-2 border-bottom border-info mb-10">
        .mb-10, 54px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-11">
        .mb-11, 62px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-12">
        .mb-12, 78px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-13">
        .mb-13, 102px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info">
        End
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="box">
      <p class="bg-dark text-white p-2 border-bottom border-info mb-14">
        .mb-14, 134px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info mb-15">
        .mb-15, 160px
      </p>
      <p class="bg-dark text-white p-2 border-bottom border-info">
        End
      </p>
    </div>
  </div>
</div>
